<%= form_for @question, url: url do |f| %>
  <div class="field form-group">
    <%= f.label :title, "Question" %><br>
    <%= f.text_area :title, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :brief, "Description" %><br>
    <%= f.text_area :brief, class:"form-control" %>
  </div>
  <% if user_signed_in? %>
    <%= hidden_field_tag :idea_id, params[:idea_id] %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Create Question', class: 'btn btn-primary' %>
  </div>
<% end %>
