<%= javascript_include_tag 'ajax401' %>

<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @question.idea } %>

<div class="question question-<%= @question.id %>">
  <div class="show-question-wrapper clearfix">
    
    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: @question} %>

    <p>
      <h4><strong>
        <%= @question.title %>
      </strong></h4>
    </p>
    <p class='voteindent'>
      <%= @question.brief %>
    </p>
    <p class="pull-right">
      <div class='userwrap'>
        <div class='photoquest'>
          <%= link_to (image_tag @question.user.profile.photo_url, :size => "36x36"), profile_path(@question.user.profile)%>
        </div>
        <div class='usernamequest'>
        <%= render @question.user %><br>
        <i>Posted <%= @time %> ago</i>
        </div>
      </div>
    </p>
  </div><!-- .show-question-wrapper -->

  <% if @question.comments.count > 0 %>
    <a href='javascript:void(0);' id='hidecomments' style='display:none;'>Hide Question Comments (<%= @question.comments.count %>) </a>
    <a href='javascript:void(0);' id='showcomments'>Show Question Comments (<%= @question.comments.count %>) </a>
    <br><br>
  <% end %>
  <div class="media-body" id='questioncomments' style='display:none;'>
    <ul class="media-list comments question-comments">
      <% if @question.comments.count > 0 %>
        <%= render vote_order(@question.comments.includes(:user)) %>
      <% else %>
        <div class='no comments'>
          No comments
        </div>
      <% end %>
      </ul>
    <% if @question.idea.is_phase_1? %>
      <p>
        <%= link_to "Add comment", new_question_comment_path(@question), id: "question-#{@question.id}", remote: true %>
      </p>
    <% else %>
      <p class="link-dis"> Add comment </p>
    <% end %>
  </div>
</div><!-- .question -->

<h4> Answers: </h4>


<div id='answers'>
  <ul class="answers media-list">
    <% if @answers.count > 0 %>
      <%= render vote_order(@answers) %>
    <% else %>
      <div class='no answers' id='noanswer'>
        No answers yet. Why don't you add one?
      </div>
    <% end %>
  </ul>
</div>

<% if @question.idea.is_phase_1? %>
  <p>
    <%= link_to "Add answer", new_answer_path(question_id: @question.id), id: 'newanswer', remote:true %>
  </p>
<% else %>
  <p class="link-dis"> Add answer </p>
<% end %>




<% if @question.idea.is_phase_1? %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', @question.idea %>
