<p id="notice"><%= notice %></p>


<p>
  <strong>Question:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Brief:</strong>
  <%= @question.brief %>
</p>
<p>
  <strong>Answers expected:</strong>
  <%= @question.answers_expected %>
</p>
<p>
  <strong>Idea:</strong>
  <%= link_to @question.idea.brief, @question.idea %>
</p>
<p>
  <strong>User:</strong>
  <%= link_to(@question.user.name, @question.user.profile) %>
</p>
<ul class="solutions">
  <%= render @question.solutions || "No solutions found" %>   
  <p>
    <%= link_to "Add solution", controller: "solutions", action: "new", question_id: @question.id %>
  </p>
</ul>







<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', @question.idea %>
