<p id="notice"><%= notice %></p>

<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @question.idea } %>

<div class="question question-<%= @question.id %>">
  <div class="show-question-wrapper clearfix">
    
    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: @question} %>

    <p>
      <strong>
        <%= @question.title %>
      </strong>
    </p>
    <p>
      <%= @question.brief %>
    </p>
    <p class="pull-right">
      <%= render @question.user %>
    </p>
  </div><!-- .show-question-wrapper -->

  <div class="media-body">
    <ul class="media-list comments question-comments">
      <% if @question.comments.count > 0 %>
        <%= render vote_order(@question.comments.includes(:user)) %>
      <% else %>
        <div class='no comments'>
          No comments
        </div>
      <% end %>
      </ul>
    <p>
      <%= link_to "Add comment", new_question_comment_path(@question), id: "question-#{@question.id}", remote: true %>
    </p>
  </div>
</div><!-- .question -->

<ul class="answers media-list">
  <% if @answers.count > 0 %>
    <%= render vote_order(@answers) %>
  <% else %>
    <div class='no answers'>
      No answers yet. Why don't you add one?
    </div>
  <% end %>
</ul>

<p>
  <%= link_to "Add answer", new_answer_path(question_id: @question.id), id: 'newanswer', remote:true %>
</p>






<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', @question.idea %>
