<%= javascript_include_tag 'ajax401' %>

<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @question.idea } %>

<div class="question question-<%= @question.id %>">
  <div class="show-question-wrapper clearfix">
    
    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: @question} %>

    <p>
      <div style='float:left; height:120px; margin-right:5px;'>
        <a id="popquest" 
            href="#" 
            data-toggle="popover" 
            data-content="Vote the question up or down depending on if you think it is a good addition to the discussion. Comment on it if there is something you would like to clarify, or if you have additional thoughts to add to the question.">
          <%= image_tag 'labthinghelp.png', size: '36x36', id: 'questhelp' %>
          <span id='closequest' class='pull-left' style='display:none; position:absolute; top:20px; margin-left:-5px; color:#34495E;'>
            <b>x</b>
          </span>
        </a>      
      </div>
      <h4><strong>
        <%= @question.title %>
      </strong></h4>
    </p>
    <p class='voteindent'>
      <%= @question.brief %>
    </p>
    <p class="pull-right">
      <div class='userwrap'>
        <div class='photoquest'>
          <%= link_to (image_tag @question.user.profile.photo.thumb, :size => "36x36"), profile_path(@question.user.profile)%>
        </div>
        <div class='usernamequest' align='right'>
        <%= render @question.user %><br>
        <i>Posted <%= @time %> ago</i>
        </div>
      </div>
    </p>
  </div><!-- .show-question-wrapper -->
  <div style='width:85%;margin-left:110px;'>
    <% if @question.comments.count > 0 %>
    <div align='right' style='margin-bottom:10px;margin-top:15px;'>
      <a href='javascript:void(0);' id='hidecomments'>Hide Question Comments (<%= @question.comments.count %>) </a>
      <a href='javascript:void(0);' id='showcomments' style='display:none;'>Show Question Comments (<%= @question.comments.count %>) </a>
    </div>
      <hr style='margin-top:-1px;'/>
    <% end %>
    <div class="media-body" id='questioncomments'>
      <ul class="media-list comments question-comments">
        <% if @question.comments.count > 0 %>
          <%= render vote_order(@question.comments.includes(:user)) %>
        <% else %>
          <div class='no comments'>
            <div class='content-bg'>No comments</div>
          </div>
        <% end %>
        </ul>
      <% if @question.idea.is_phase_1? %>
        <p>
          <%= link_to "Add comment", new_question_comment_path(@question), id: "question-#{@question.id}", remote: true %>
        </p>
      <% else %>
        <p class="link-dis"> Add comment </p>
      <% end %>
    </div>
  </div>
</div>
<br><br>
<div class='welcome-block clearfix' style='margin-bottom:-5px;'>
  <div style='float:left; margin-right:5px; display:none;' id='helpans'>
    <a id="popans" 
        href="#" 
        data-toggle="popover" 
        data-content="To add an answer, scroll to the bottom of the page and click <b>Add Answer</b>. Try to be as descriptive as possible and answer the question with the objective of developing and improving the idea conceptually. You can comment on others' answers for clarification purposes or if you have a contribution to it. You can also up and downvote answers based on how helpful they are. For more information, visit the <b>Documentation</b> page.">
      <%= image_tag 'labthinghelp.png', size: '36x36', id: 'anshelp' %>
      <span id='closeans' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
        <b>x</b>
      </span>
    </a>      
  </div>
  <a href='javascript:void(0);' id='showanswers' style='color:#333333;'><h4 class='pull-left'>Answers:</h4></a>
  <% if @question.idea.is_phase_1? %>
  <button href='javascript:void(0);' class='btn btn-info pull-right' align='center' id='newanswer'>
  <% else %>
  <button href='javascript:void(0);' class='btn btn-info disabled pull-right' align='center'>
  <% end %>
    Add Answer
  </button>
</div><hr>
<div id='answers'>
  <ul class="answers media-list">
    <div class='content-bg' style='display:none;' id='answerform'>
      <%= render partial: 'answers/form' %><br>
      <%= link_to 'Cancel', 'javascript:void(0);', id: 'cancelanswerform' %>
    </div>
    <% if @answers.count > 0 %>
      <%= render vote_order(@answers) %>
    <% else %>
      <div class='no answers' id='noanswer'>
        No answers yet. Why don't you add one?
      </div>
    <% end %>
  </ul>
</div>

<% if @question.idea.is_phase_1? %>
  <%= link_to 'Edit Question', idea_edit_question_path(question_id: @question.id, id: @question.idea.id) %> |
<% end %>
<%= link_to 'Back', @question.idea %>
