<p id="notice"><%= notice %></p>

<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @question.idea } %>

<div class="question">
  <p>
    <strong>Question:</strong>
    <%= @question.title %>
  </p>
  <p>
    <strong>Brief:</strong>
    <%= @question.brief %>
  </p>
  <p>
    <strong>Answers expected:</strong>
    <%= @question.answers_expected %>
  </p>
  <p>
    <strong>Idea:</strong>
    <%= link_to @question.idea.brief, @question.idea %>
  </p>
  <p>
    <strong>User:</strong>
    <%= link_to(@question.user.name, @question.user.profile) %>
  </p>

<ul class="media-list comments question-comments">
  <%= render vote_order(@question.comments.includes(:user)) || "No comments found" %>
</ul>
  <p>
    <%= link_to "Add comment", new_question_comment_path(@question) %>
  </p>
</div><!-- .question -->

<ul class="answers media-list">
  <%= render vote_order(@answers) || "No answers found" %>
</ul>

<p>
  <%= link_to "Add answer", controller: "answers", action: "new", question_id: @question.id %>
</p>






<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', @question.idea %>
