<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @question.idea } %>
<hr>
<div class="question question-<%= @question.id %>">
  <div class="show-question-wrapper clearfix">
    
    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: @question} %>
    <p>
      <h4><strong>
        <%= @question.title %>
      </strong></h4>
    </p>
    <p class='voteindent'>
      <%= @question.brief %>
    </p>
    <p class="pull-right">
      <div class='userwrap'>
        <div class='photoquest'>
          <%= link_to (image_tag @question.user.profile.photo.thumb, :size => "36x36", class: 'img-rounded'), profile_path(@question.user.profile)%>
        </div>
        <div class='usernamequest' align='right'>
        <%= render @question.user %><br>
        <i>Posted <%= @time %> ago</i>
        </div>
      </div>
    </p>
  </div><!-- .show-question-wrapper -->
  <div style='width:85%;' class='pull-right'>
    <div align='right' style='margin-bottom:10px;margin-top:15px;'>
      <% if @question.idea.is_phase_1? %>
          <span>
            <%= link_to "Add comment", 'javascript:void(0);', id: "add-question-comment" %>
          </span>
        <% else %>
          <span class="link-dis"> Add comment </span>
      <% end %> 
      <% if @question.comments.count > 0 %>
        <span class='link-dis' id='add-comment-line'>|</span>
        <a href='javascript:void(0);' id='hidecomments' style='display:none;'>Hide Question Comments (<%= @question.comments.count %>) </a>
        <a href='javascript:void(0);' id='showcomments'>Show Question Comments (<%= @question.comments.count %>) </a> 
      <% end %>
    </div>
    <hr style='margin-top:-1px;'/>
    <div class="media-body" id='questioncomments' style='display:none;'>
      <ul class="media-list comments question-comments">
        <div class='content-bg comment-form' style='display:none;'>
          <%= render partial: 'comments/form', locals: { url: create_comment_path(commentable_id: @question.id, commentable_type: 'Question', idea_id: @question.idea.id) } %><br>
          <%= link_to 'Cancel', 'javascript:void(0);', class: 'cancel-question-comment' %>
        </div>
        <% if @question.comments.count > 0 %>
          <%= render vote_order(@question.comments.includes(:user)) %>
        <% else %>
          <div class='no-comments'>
            <div class='content-bg'>There are no comments yet. Be the first to add one!</div>
          </div>
        <% end %>
      </ul> 
    </div>
  </div>
</div>
<div class='row'></div><br><br>
<div class='row'>
  <div class='welcome-block clearfix' style='margin-bottom:-5px;'>
    <a href='javascript:void(0);' id='showanswers' style='color:#333333;'><h4 class='pull-left'>Answers:</h4></a>
    <% if @question.idea.is_phase_1? %>
    <button href='javascript:void(0);' class='btn btn-info pull-right' align='center' id='newanswer'>
    <% else %>
    <button href='javascript:void(0);' class='btn btn-info disabled pull-right' align='center'>
    <% end %>
      Add Answer
    </button>
  </div><hr>
  <div id='answers'>
    <ul class="answers media-list">
      <div class='content-bg' style='display:none;' id='answerform'>
        <%= render partial: 'answers/form', locals: { url: create_answer_path(question_id: @question.id)} %><br>
        <%= link_to 'Cancel', 'javascript:void(0);', id: 'cancelanswerform' %>
      </div>
      <% if @answers.count > 0 %>
        <%= render vote_order(@answers) %>
      <% else %>
        <div class='no answers' id='noanswer'>
          No answers yet. Why don't you add one?
        </div>
      <% end %>
    </ul>
  </div>
</div>

<% if @question.idea.is_phase_1? %>
  <%= link_to 'Edit Question', idea_edit_question_path(question_id: @question.id, id: @question.idea.id) %> |
<% end %>
<%= link_to 'Back', @question.idea %>
