<% content_for :page_title do %>
  <div class="clearfix">
    <div class="col-sm-6">
      <% if current_page?("/profiles/#{@profile.id}/edit")%>
       <h2>
        Editing Profile
        </h2>
      <% else %>
        <h2>
        <%= @user.name %>
        <span class="rep-points badge-rep">
          <%= @user.lab_rep_points %>
        </span>
        </h2>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <% if current_page?("/profiles/#{current_user.id}") %>
     <div style='float:left; height:40px; margin-right:5px; margin-left:-15px;' id='1-div'>
       <a id="1-pop-link" 
           href="#" 
           data-toggle="popover" 
           data-content="Below shows all of the ideas this user has contributed to. For each idea, it shows a summary of its brief, the user's local reputation and equity, along with the user's activity in the idea. You can quote your <b>idea contributions</b> on your CV! If you are looking for even more information about your contributions for a given idea, you can email us at <b>contact@labthi.ng</b> and request a detailed breakdown of your brainstorm contributions and the parts you've completed.">
         <%= image_tag 'labthinghelp.png', size: '36x36', id: '1-img' %>
         <span id='1-close' class='pull-left' style='display:none; color:#34495E;'>
           <b>x</b>
         </span>
       </a>      
     </div>
    <% elsif current_page?("/profiles/#{current_user.id}/skills") %>
     <div style='float:left; height:40px; margin-right:5px; margin-left:-15px;' id='1-div'>
       <a id="1-pop-link" 
           href="#" 
           data-toggle="popover" 
           data-content="The skills page tries to quantify your proficiency level in each of the 4 key component areas for the build phase: idea planning and development, business planning, prototyping and designing. When you first join, your skill level is 50%. As you complete parts in each component area, your proficiency increases asymptotically towards 100%. You lose skill level if you unstart a part or take a long time completing one. For more details about how this proficiency is calculated, visit the <b>documentation</b> section.<br><br>These skill levels are very useful for the community to see where your experience lies and how active a member you are on labthi.ng. They are also a very good addition to your CV, as they highlight your entrepreneurial experience and proficiency.">
         <%= image_tag 'labthinghelp.png', size: '36x36', id: '1-img' %>
         <span id='1-close' class='pull-left' style='display:none; color:#34495E;'>
           <b>x</b>
         </span>
       </a>      
     </div>    
   <% end %>
    <%= link_to "Ideas", {
      controller: "profiles",
      action: "show" },
      class: 'btn btn-default ' + active_when(:controller => 'profiles', :action => 'show')
    %>
    <%= link_to "Skills", {
      controller: "profiles",
      action: "skills" },
      class: 'btn btn-default ' + active_when(:controller => 'profiles', :action => 'skills')
    %>
  </div>
<% end %>