<% if controller.controller_name == 'profiles' and (controller.action_name == 'show' or controller.action_name == 'labs') %>
  <% content_for :sidebar_left do %>
  <br>
  <div class='row' style='width:250px;'>
      <p>
        <%= image_tag @profile.photo.display, class: 'img-rounded', size: '250x250' %>
      </p>
    <br>
      <% if @profile.profession %>
        <p class='doc'>
        <strong>Skills:</strong>
        <%= @profile.profession %></p>
      <% end %>

      <% if @profile.age %>
        <p class='doc'>
        <strong>Age:</strong>
        <%= @profile.age %></p>
      <% end %>

      <% if @profile.country %>
        <p>
        <strong>Country:</strong>
        <%= @profile.country %></p>
      <% end %>

      <% if @profile.website %>
        <p>
        <strong>Website:</strong>
        <%= @profile.website %></p>
      <% end %>
    

    <% if @profile.about %>
      <p class='doc'>
        <strong>About:</strong>
        <%= @profile.about %>
      </p>
    <% end %>
    <p>
      <strong>Member Since:</strong>
      <%= time_ago_in_words(@profile.user.created_at) %> ago
    </p>
    </div>
    <%= link_to "Edit Profile", edit_profile_path(@profile) if current_user == @user %>
  <% end %>
<% else %>
  <% content_for :sidebar_left do %>
    <br>
    <div class='row profileform'><%= render 'form' %></div><br>
    <div class='row'><%= link_to 'Back', @profile %></div>
  <% end %>
<% end %>