<% content_for :sidebar_left do %>
  <h3><%= @user.name %>
    <span class="rep-points label label-default">
      <%= @user.lab_rep_points %>
    </span>
  </h3>
  <p>
    <%= image_tag @profile.photo.display %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= @profile.profession %>
  </p>
  <p>
    <strong>About:</strong>
    <%= @profile.about %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= @profile.age %>
  </p>
  <p>
    <strong>Country:</strong>
    <%= @profile.country %>
  </p>
  <p>
    <strong>Website:</strong>
    <%= @profile.website %>
  </p>
  
  <%= link_to "Edit", edit_profile_path(@profile) if current_user == @user %>
<% end %>