<% if controller.controller_name == 'profiles' and (controller.action_name == 'show' or controller.action_name == 'skills') %>
  <% content_for :sidebar_left_small do %>
  <br>
    <div class='row profile-border' style='margin-top:-15px;'>
      <div class='' align='center'>
        <br><br><br>
        <span align='center'><%= image_tag @profile.photo.display, class: 'img-rounded', size: '200x200' %></span>
      </div>
      <br><br>
      <hr>

      <div align='center' style='width:310px !important;margin-left:22px;'>
        <p>
        <strong>University:</strong>
        <%= @user.university %></p>
      </div>
      <hr>

      <% unless @profile.about.blank? %>
        <div align='center' style='width:310px !important;margin-left:22px;'>
          <p>
          <strong>About:</strong>
          <%= @profile.about %></p>
        </div>
        <hr>
      <% end %>

      <% unless @profile.skills.blank? %>
        <div align='center' style='width:310px !important;margin-left:22px;'>
          <p>
          <strong>Skills:</strong>
          <%= @profile.skills %></p>
        </div>
        <hr>
      <% end %>
      
      <% unless @profile.country.blank? %>
        <p align='center'>
        <strong>Country:</strong>
        <%= @profile.country %></p>
        <hr>
      <% end %>

      <% unless @profile.website.blank? %>
        <p align='center'>
          <strong>Twitter:</strong>
          <a href="http://twitter.com/<%=@profile.website.sub('@','') %>" target='_blank'><%= @profile.website %></a>
        </p>
        <hr>
      <% end %>

      <% unless @profile.github.blank? %>
        <p align='center'>
          <strong>Github:</strong>
          <a href="http://github.com/<%=@profile.website.sub('@','') %>" target='_blank'><%= @profile.github %></a>
        </p>
        <hr>
      <% end %>

      <% unless @profile.linkedin.blank? %>
        <div align='center' style='width:310px !important;margin-left:22px;'>
          <p align='center'>
            <strong>Linkedin:</strong>
            <a href='http://<%=@profile.linkedin%>' target='_blank'>Visit <%= @user.name %></a>
          </p>
        </div>
        <hr>
      <% end %>
      
      <p align='center'>
        <strong>Member Since:</strong>
        <%= time_ago_in_words(@profile.user.created_at) %> ago
      </p>
    </div>
    <br>
    <p align='center'><%= link_to "Edit Profile", edit_profile_path(@profile) if current_user == @user %></p>
  <% end %>
<% else %>
  <% content_for :sidebar_left_small do %>
    <% if @profile.photo.nil? %>
      <div style=''><hr></div>
    <% else %>
      <br>
    <% end %>
    <div class='row profile-border'><br><%= render 'form' %></div><br>
  <% end %>
<% end %>