<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<%= render 'users/followed_ideas', user: @user %>

<%= link_to "Edit", edit_profile_path(@profile) if current_user == @user %>