<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<h4>Skills</h4>
<div class='content-bg'>
  <div class='white-bg'>
    <a href='javascript:void(0);' style='float:left;margin-right:10px;' class='showskill'>Plan:</a>
    <div>
    <span class='slider slider-horizontal' style='width:300px;float:left;margin-right:10px;'>
      <span class='slider-track'>
        <span class='slider-selection' style='left:0%; width:<%=@user.get_skill_level('plan_component')%>%; background:#3498DB;'></span>
        <span class='slider-handle round' style='left:<%=@user.get_skill_level('plan_component')%>%;background:#2980B9;opacity:1.0;height:20px;width:23px;'>
          <span style='font-size:0.7em;letter-spacing:-0.5px;color:#fff;margin-left:3px;'>
            <b><%=@user.get_skill_level('plan_component')%>%</b>
          </span>
        </span>
        <span class='slider-handle round hide' style='left:0%;'></span>
      </span>
    </span>
    </div>
    <br>
    <span class='skillstats'>
      <%= render partial: 'skill_statistics', locals: { component: 'PlanComponent' } %>
    </span>
  </div>
  <div class='white-bg'>
    <a href='javascript:void(0);' style='float:left;margin-right:10px;' class='showskill'>Business Plan:</a>
    <div>
    <span class='slider slider-horizontal' style='width:300px;float:left;margin-right:10px;'>
      <span class='slider-track'>
        <span class='slider-selection' style='left:0%; width:<%=@user.get_skill_level('business_plan_component')%>%; background:#3498DB;'></span>
        <span class='slider-handle round' style='left:<%=@user.get_skill_level('business_plan_component')%>%;background:#2980B9;opacity:1.0;height:20px;width:23px;'>
          <span style='font-size:0.7em;letter-spacing:-0.5px;color:#fff;margin-left:3px;'>
            <b><%=@user.get_skill_level('business_plan_component')%>%</b>
          </span>
        </span>
        <span class='slider-handle round hide' style='left:0%;'></span>
      </span>
    </span>
    </div>
    <br>
    <span class='skillstats'>
      <%= render partial: 'skill_statistics', locals: { component: 'BusinessPlanComponent' } %>
    </span>
  </div>
  <div class='white-bg'>
    <a href='javascript:void(0);' style='float:left;margin-right:10px;' class='showskill'>Design:</a>
    <div>
    <span class='slider slider-horizontal' style='width:300px;float:left;margin-right:10px;'>
      <span class='slider-track'>
        <span class='slider-selection' style='left:0%; width:<%=@user.get_skill_level('design_component')%>%; background:#3498DB;'></span>
        <span class='slider-handle round' style='left:<%=@user.get_skill_level('design_component')%>%;background:#2980B9;opacity:1.0;height:20px;width:23px;'>
          <span style='font-size:0.7em;letter-spacing:-0.5px;color:#fff;margin-left:3px;'>
            <b><%=@user.get_skill_level('design_component')%>%</b>
          </span>
        </span>
        <span class='slider-handle round hide' style='left:0%;'></span>
      </span>
    </span>
    </div>
    <br>
    <span class='skillstats'>
      <%= render partial: 'skill_statistics', locals: { component: 'DesignComponent' } %>
    </span>
  </div>
  <div class='white-bg'>
    <a href='javascript:void(0);' style='float:left;margin-right:10px;' class='showskill'>Prototype:</a>
    <div>
    <span class='slider slider-horizontal' style='width:300px;float:left;margin-right:10px;'>
      <span class='slider-track'>
        <span class='slider-selection' style='left:0%; width:<%=@user.get_skill_level('prototype_component')%>%; background:#3498DB;'></span>
        <span class='slider-handle round' style='left:<%=@user.get_skill_level('prototype_component')%>%;background:#2980B9;opacity:1.0;height:20px;width:23px;'>
          <span style='font-size:0.7em;letter-spacing:-0.5px;color:#fff;margin-left:3px;'>
            <b><%=@user.get_skill_level('prototype_component')%>%</b>
          </span>
        </span>
        <span class='slider-handle round hide' style='left:0%;'></span>
      </span>
    </span>
    </div>
    <br>
    <span class='skillstats'>
      <%= render partial: 'skill_statistics', locals: { component: 'PrototypeComponent' } %>
    </span>
  </div>
</div>