<div class='doc'>
  Your functional prototype is an incomplete version of the software program being developed. It simulates only a few aspects of, and may be completely different from, the final product. 

  We believe version control software to be integral to decent software design and strongly suggest you develop your prototype using <%= link_to 'git', 'http://git-scm.com/', target: '_blank'%>. We have partially integrated <%= link_to 'Github', 'http://github.com/', target: '_blank'%> into our site, a powerful collaboration, code review, and code management tool for projects. You will be required to enter your github username in the prototype section if you have not previously linked your profile with it so that you can be added to the private repository. If you do not have a Github account, please create one.

  By clicking start, you be the lead developer for the project. You may use any language you deem fit to program the prototype, but do take into account the developer specification and the type of database from the database design component. Please try to make the front end resemble the design prototype as closely as possible as it will have gone through extensive user testing by this point.

  We also strongly suggest you employ a development process such as <%= link_to 'Test Driven Development', 'http://agiledata.org/essays/tdd.html', target: '_blank'%>. 

  <%= image_tag 'tech_hc1.jpg' %>

  The prototype needs to be adequately tested <%= link_to '(unit and integration tests etc)', 'http://www.softwaretestinghelp.com/types-of-software-testing/', target: '_blank'%>. If you are building a large prototype with many collaborators we suggest employing <%= link_to 'Agile development methodologies', 'http://en.wikipedia.org/wiki/Agile_software_development#Agile_methods', target: '_blank'%>.

  All other team members will also be added as collaborators to the repository if we have their usernames. Do not worry, if anyone decides to no longer work on a project all access privileges are automatically revoked.
  
</div>
<hr> 