<div class='doc'>
  A wireframe is an image that consists of functional elements making up the layout of a given page of the frontend of the product. It specifies what actions the user is able to take on each page along with the content that should be present. The image below is an example wireframe.

  <%= image_tag 'tech_hc2.png', height: 600, width: 800 %><br>

  If you take on this task and have never drawn wireframes before, please do research about what they are beforehand. <%= link_to 'This Smashing Magazine article', 'http://www.smashingmagazine.com/2009/09/01/35-excellent-wireframing-resources/', target: '_blank'%> provides many helpful resources teaching how to wireframe and how to improve. About.com also has <%= link_to 'this useful article', 'http://graphicdesign.about.com/od/effectivewebsites/ss/wireframes.htm', target: '_blank'%> explaining how to create website wireframes.
 
  A user flow is a collection of Web pages that define a logical task. It consists of a number of steps that need to be performed in order to complete the task. The image below is an example user flow of a quiz system.

  <%= image_tag 'tech_hc3.jpg', height: 600, width: 800%><br>

  This <%= link_to 'ConversionXL article', 'http://conversionxl.com/how-to-design-user-flow/', target: '_blank'%> provides more information on how to design user flow as does this <%= link_to '1stwebdesigner article', 'http://www.1stwebdesigner.com/user-flows-guide-web-design-backbone/', target: '_blank'%> along with many other useful resources and tools.
 
  Please upload images (.jpeg, .bmp or .png) for both wireframes and user flows. You may use any application you deem fit to design both components or even hand sketches. Try to make them as detailed as possible, and provide explanations where necessary. 
 
  Both of these are very useful in getting an idea of how your site will look and function. It also lays the foundation for the click through and the User Interface of your prototype.

</div>
<hr> 