<% if user_signed_in? %>
  <li class="show-user-profile">
    <span class='userlink' style='float:right; display:inline; margin-top:-6px;'><br><%= render partial: 'users/user', locals: { user: current_user } %></span>
    <% if current_page?('/') %>
      <div style='float:left; display:inline; margin-top:5px; margin-right:5px;' id='helpcontent'>
        <a id="pop" 
            href="#" 
            data-toggle="popover" 
            data-content="Add information to your profile! This will help other users reach out to you to work together on projects. It will also provide us with data regarding what kinds of people work well together on Labthi.ng!">
          <%= image_tag 'labthinghelp.png', size: '30x30', id: 'help' %>
          <span id='close' class='pull-left' style='display:none; position:absolute; top:5px; margin-left:-5px; color:#34495E;'>
            <b>x</b>
          </span>
        </a>      
      </div>
    <% end %>
  </li>
  <li>
    <%= link_to '', edit_user_registration_path(current_user), title: 'Edit your account settings', rel: 'tooltip', id: 'tooltip', class: ' glyphicon glyphicon-wrench settings' %>
    </a>
  </li>
  <li><%= link_to current_user.notifications.where(read: false).count.to_s, notifications_path, :class => "glyphicon glyphicon-flag notifications", :title => 'Notifications', "data-content" => "#{render partial: 'notifications/notifications', locals: { notifications: current_user.notifications } }" , rel: 'popover', 'data-toggle'=>"popover", id: 'notifications', remote: true %>
  </li>
  <li>
    <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
  </li>

<% end %>

