
<%= form_for @part, url: update_part_path(id: @part), method: "PUT" do |f| %>  
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>
      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>

    <div class="field">
      <%= f.bootsy_area :value, class: "form-control", :rows => 20, 
          readonly: @part.restrict_access_to_editor?(current_user)%>
    </div><br>
    
    <%if not @part.restrict_access_to_editor?(current_user)%>
      <div class="actions">
        <%= f.submit 'Save part', :class => "btn btn-primary"%>
      </div>
    <% end %>

<% end %>
