
<%= form_for @part, url: update_part_path(id: @part), method: "PUT" do |f| %>  
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>
      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>

    <div class="field">
      <%= f.bootsy_area :value, class: "form-control", :rows => 20, 
          readonly: @part.restrict_edit_privilege?(current_user)%>
    </div><br>
    
    <%unless @part.restrict_edit_privilege?(current_user)%>
      <div class="actions">
        <%= f.submit 'Save part', :class => "btn btn-primary"%>
      </div>
    <% end %>

<% end %>

<script type="text/javascript">
  $(window).bind('beforeunload', function(){
    return 'Make sure you saved you work!';
  });

  <% if @part.value_changed? %>

    var links = document.getElementsByTagName('a');
    for(var i = 0, len = links.length; i < len; i++) {
      links[i].onclick = function () {
        return confirm('Are you sure you want to leave? You have not saved your work yet')
      }
    }

  <% end %>
</script>