
<% content_for :page_title do %>
  <div class="clearfix">
    <div class="col-sm-12">
       <h2 class='partname'>
         <%= @part.name %>
        </h2>
    </div>
  </div>
<% end %>

<% content_for :secondary_nav do %>
  <% if current_page?(controller: 'parts', action: 'help_content') %>
      <div style='float:left; height:40px; margin-right:5px; display:none;' id='navhelp'>
        <a id="pop" 
            href="#" 
            data-toggle="popover" 
            data-content="Click on <b>Edit</b> to submit content for your part. You can come back and edit your content as much as you want before pressing the <b>finish</b> button. When you finish the part, administrators will review it and leave you tasks to help you improve areas of weakness under the <b>Admin Tasks</b> tab.">
          <%= image_tag 'labthinghelp.png', size: '36x36', id: 'helpnav' %>
          <span id='closenav' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
            <b>x</b>
          </span>
        </a>      
      </div>
    <% end %>
  <div class="secondary-nav">
    <%= link_to "Help Content", {
      controller: "parts",
      action: "help_content" },
      class: 'btn btn-default ' + active_when(:controller => 'parts', :action => 'help_content')
    %>
    <%= link_to "Edit", {
      controller: "parts",
      action: "edit" },
      class: 'btn btn-default ' + active_when(:controller => 'parts', :action => 'edit')
    %>
    <% if @part.status == 'In Review' or current_user.admin %>
      <%= link_to "Tasks", {
        controller: "parts",
        action: "admin_tasks" },
        class: 'btn btn-default ' + active_when(:controller => 'parts', :action => 'admin_tasks')
      %>
    <% end %>
  </div>
<% end %>

<% content_for :links do %>
  <% if @part.is_started? or @part.is_in_review? %>
    <br>Can't manage? Unhappy?
    <%= button_to "Unstart", unstart_part_path, class: 'btn btn-danger', method: 'PUT' %>
  <% end %><br>
  <% if current_page?(controller: 'parts', action: 'admin_tasks') %>
    <p style='margin-left:225px;'>
  <% else %>
    <p style='margin-left:105px;'>
  <% end %>
  <%= link_to 'Back to Idea Build', idea_build_path(@part.idea) %></p>
<% end %>