<% @part.part_uploads.each do |upload| %>
  <%= image_tag upload.image_url, :size => "150x150"%><br>
  <%= link_to 'Remove', destroy_upload_path(upload_id: upload.id), method: :delete %><br>
<% end %>

<%= form_for @part, url: update_image_part_path(id: @part), method: "PUT" do |f| %>
  
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br>

  <div class="col-md-8 no-gutter">
    <div class="field">
      <%= f.file_field :image, name: "part_upload[image]"%>
    </div><br>

    <div class="actions">
      <%= f.submit 'Save part', :class => "btn btn-primary", data: {disable_with: "Uploading..."} %>
    </div>
  </div>

<% end %>