<div class='row'>
<h1>Editing <%= @part.name %></h1>

<% if @part.is_design? %>   
  <%=  render 'upload_form' %>
<% elsif @part.is_prototype? %>
  <%=  render 'prototype_form' %>
<% else %>
  <%= render 'editor_form' %>
<% end %>

<%= link_to 'Back', idea_build_path(@part.idea) %><br>

<% if @part.is_started? %>
  <%= link_to "Can't manage? Unstart", unstart_part_path, method: 'PUT' %>
<% end %><br>
</div>

<%= render 'admin_tasks' %>