<%= form_for(@idea) do |f| %>
    <% if @idea.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

          <ul>
            <% @idea.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
     <div class="field form-group">
      <%= f.label :title %>
      <%= f.text_area :title, class:"form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :brief %>
      <%= f.text_area :brief, class:"form-control" %>
    </div>
    <div class="field form-group">
    <%= f.label :component_list, "Components" %>
      <% @components.each do |c| %>
        <%= f.label :c, class: 'checkbox' do %>
          <%= f.check_box :component_list, { :multiple => true }, c, nil %>
          <%= c %>
        <% end %>
      <% end %>
    </div>
    <div class="field form-group">
      <%= f.label :image %><br>
      <p><i>Please upload an image that best describes your idea or a logo, if you have already designed one.</i></p>
      <%= f.file_field :image %>
    </div>
    <div class="field form-group">
      <%= f.label :category_list, "Categories" %>
      <%= f.select :category_list, @categories, {selected:@idea.category_list}, {:multiple => true, :style => "height:180px;", class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= f.label 'Number of Days for Idea to be in Create Phase' %><br>
      <%= f.collection_select :create_days, Idea::NO_CREATE_DAYS, :to_s, :to_s, include_blank: 'Select' %>
    </div><br>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
    <br><br>
<% end %>