<%= form_for(@idea) do |f| %>
    <% if @idea.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

          <ul>
            <% @idea.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :brief %>
      <%= f.text_area :brief %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label :category_list, "Categories" %>
      <%= f.select :category_list, @categories, {selected:@idea.category_list}, {:multiple => true, :style => "height:180px;"} %>
    </div>
    <div class="actions">
      <%= f.submit 'Update Idea', :class => "btn btn-primary" %>
    </div>
<% end %>