<div class='row'>  
  <div class='col-xs-10'>
    <div class='col-md-1 phase2image'>
      <%= image_tag @idea.phase_2_image, class: 'img-rounded', size: '80x80' %>
    </div>
    <div class='col-md-9'>
      <h1>
          <%= link_to "#{@idea.title}", idea_build_feed_path(@idea), style: 'color:#333333;' %>
        </h1>
      <strong>
        Phase <%= @idea.phase %>
      </strong> |
      <i>Promoted <%= time_ago_in_words(@idea.create_days) %> ago</i> |
      <%= link_to "#{@idea.followers.count} Follower(s)", followers_idea_path(@idea) %> |
      <%= print_categories %>
    </div>
  </div>
  <div class='col-xs-2 archive'>
    <div class="pull-right" id="follow_idea_form" style='margin-bottom:12px;'>
        <% if current_user != nil && current_user.following_idea?(@idea) %>
          <%= render 'ideas/unfollow', idea: @idea %>
        <% else %>
          <%= render 'ideas/follow', idea: @idea %>
        <% end %>
      </div>
    <br><br>
    <p class='pull-right'>
    <div style='float:left; height:40px; margin-top:-15px;' id='1-div'>
        <a id="1-pop-link" 
            href="#" 
            data-toggle="popover" 
            data-content="You are now on the idea's <b>build</b> page, demonstrating the current status of all of the different component parts that need to be completed for the idea to graduate from this phase. Only team members of the idea can see this page-- it will be your landing page for the idea until it moves to the <b>buy</b> phase. To re-visit its <b>create</b> page, click on <b>Phase 1 Archive</b>. There, you will find an updated list of the idea's top reputation earners. However, you will not be able to submit any new create phase content (e.g. questions, comments, answers, solutions).">
          <%= image_tag 'labthinghelp.png', size: '36x36', id: '1-img' %>
          <span id='1-close' class='pull-left' style='display:none; position:absolute; top:14px; margin-left:-5px; color:#34495E;'>
            <b>x</b>
          </span>
        </a>      
      </div>
    <div style='float:right;'><%= link_to "Phase 1 Archive", @idea %></div>
    </p>
  </div>
</div>