<% content_for :page_title do %>
	<div class="clearfix">
		<div class="col-sm-6">
			<%= render partial: "evaluations/vote_wrapper", locals: {voteable: @idea} %>
			<h2>
			  <%= @idea.title %>
			</h2>
		</div><!-- .pull-left -->
	  <div class="col-sm-5 pull-right">
	  	<div class="pull-right" id="follow_idea_form">
		  	<% if current_user != nil && current_user.following_idea?(@idea) %>
		  		<%= render 'ideas/unfollow', idea: @idea %>
	  		<% else %>
		  		<%= render 'ideas/follow', idea: @idea %>
	  		<% end %>
  		</div>
	  </div>
	</div><!-- .clearfix -->
<% end %>

<% content_for :secondary_nav do %>	
	<% if current_page?("/ideas/#{@idea.id}") %>
		<div style='float:left; height:40px; display:none;' id='navhelp'>
			<a id="popnav" 
			     href="#" 
			     data-toggle="popover"
			     data-html="true" 
			     data-content="Click <b>Define</b> to discuss the idea's business model; fill out aspects, such as 'revenue streams' or 'unique value proposition' of the <b>lean start-up business canvas</b> for the idea. Click on <b>Reputation</b> to view the top reputation earners of the idea.">
			  <%= image_tag 'labthinghelp.png', size: '36x36', id: 'helpnav' %>
			  <span id='closenav' class='pull-left' style='display:none; position:absolute; top:0; margin-left:-5px; color:#34495E;'>
			   <b>x</b>
			  </span>
			</a>	    
		</div>
	<% end %>
	<div class="secondary-nav">
		<%= link_to "Direct", '/ideas/' + @idea.id.to_s,
		  class: 'btn btn-default ' + active_when(@idea)
		%>
		<%= link_to "Define", '/ideas/' + @idea.id.to_s + '/define',
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'define')
		%>
		<%= link_to "Reputation", '/ideas/' + @idea.id.to_s + '/reputation',
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'reputation')
		%>
		<%= link_to "Activity", '/ideas/' + @idea.id.to_s + '/activity',
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'activity')
		%>
	</div>
<% end %>