<% content_for :page_title do %>
	<div class="clearfix">
		<div class="col-sm-6">
			<%= render partial: "evaluations/vote_wrapper", locals: {voteable: @idea} %>
			<h2>
			  <%= @idea.title %>
			</h2>
		</div><!-- .pull-left -->
	  <div class="col-sm-5 pull-right">
	  	<div class="pull-right" id="follow_idea_form">
		  	<% if current_user != nil && current_user.following_idea?(@idea) %>
		  		<%= render 'ideas/unfollow', idea: @idea %>
	  		<% else %>
		  		<%= render 'ideas/follow', idea: @idea %>
	  		<% end %>
  		</div>
	  </div>
	</div><!-- .clearfix -->
<% end %>

<% content_for :secondary_nav do %>	
	<div class="secondary-nav">
		<%= link_to "Direct", '/ideas/' + @idea.id.to_s,
		  class: 'btn btn-default ' + active_when(@idea)
		%>
		<%= link_to "Define", '/ideas/' + @idea.id.to_s + '/define',
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'define')
		%>
		<%= link_to "Reputation", '/ideas/' + @idea.id.to_s + '/reputation',
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'reputation')
		%>
		<%= link_to "Activity", '/ideas/' + @idea.id.to_s + '/activity',
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'activity')
		%>
	</div>
<% end %>