
<% content_for :sidebar_left do %>
<div class='ideaside'>  
<br>
  <div class='ideaphoto'>
    <%= image_tag @idea.top_image, class: 'img-rounded', size:'180x180'  %>
  </div>
  <div style="float:left;  width:150px; height: 120px;">&nbsp;</div>
  <div class='ideainfo'>
    <% if @idea.phase == 1 and current_page?("/ideas/#{@idea.id}") %>
      <div style='height:40px; display:none;' id='3-div'>
        <a id="3-pop-link" 
            href="#" 
            data-toggle="popover" 
            data-content="Vote the idea up or down depending on whether you think it can be successful or whether you think it lacks quality. Voting on the idea is important because it indicates how successful it could be to the creator and the Labthi.ng community. The <b>number of days left</b> below indicates how much time is left for the idea to be brainstormed in the create phase. Take advantage of the time remaining; any contributions you make here will be visible on your team member application to the idea if you decide you want a part of the core team in the next phase. ">
          <%= image_tag 'labthinghelp.png', size: '36x36', id: '3-img' %>
          <span id='3-close' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
            <b>x</b>
          </span>
        </a>      
      </div><br>
    <% end %>
    <p>
    <span class='glyphicon glyphicon-star unclickable' style='display:inline; margin-top:5px;'></span>
    <span style=''>Followers:
    <%= link_to "#{@idea.followers.count}", followers_idea_path(@idea),
      class: 'badge-rep' %></span></p>
    <p><strong>
      Phase <%= @idea.phase %>
    </strong></p>
    <% if @idea.is_phase_1? %>
      <p>
        <%= (@idea.create_days - Date.today).to_i %> days left
      </p>
    <% end %>
    <% if @idea.phase == 3 %>
      <p>
        <strong style='color:#5cb85c;'>User votes:</strong> 
        <span class='badge-rep' style='background-color:#5cb85c;margin-right:5px;'><%= @idea.get_use_votes %></span><br>
      </p>
      <p style='margin-top:-5px;'>
        <strong style='color:#34495E;'>Buyer votes:</strong> 
        <span class='badge-rep' style='background-color:#34495E;'><%= @idea.get_buy_votes %></span><br>
      </p>
    <% end %>
    <p>By <%= render @idea.user %></p>
    <i><%= time_ago_in_words(@idea.created_at) %> ago </i>
  </div>
</div>
<br>
  <p class='doc'>
    <b>Brief:</b>
    <%= @idea.brief %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= @idea.category %>
  </p>
  <hr>
   
  <% if @idea.is_phase_1? %>
    <% if @idea.user == current_user %>
      <div style='height:40px; float:left; margin-top:10px; display:none;' id='4-div'>
        <a id="4-pop-link" 
            href="#" 
            data-toggle="popover" 
            data-content="If you think the idea needs more brainstorming before you progress to building a team and building it into a start-up, increase the number of days in the create phase for it to be fleshed out and brainstormed by the labthi.ng community. Increasing it is only beneficial since it invites more users to take an interest in the idea and a larger variety of viewpoints on the business model and its creative features.<br><br>If you think the image you originally uploaded for the idea ism't descriptive or alluring enough, feel free to change it below. Branding is a large part of garnering interest from customers, investors and even potential partners, so place high importance on the image!">
          <%= image_tag 'labthinghelp.png', size: '36x36', id: '4-img' %>
          <span id='4-close' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
            <b>x</b>
          </span>
        </a>      
      </div><br>
      <%= button_to 'Increase Number of Days in Create Phase by 1', increase_create_length_path, class: 'btn btn-danger' %>
    <% end %>
     <br><br>   
  <% else %>
    <%= button_to 'Visit Idea Build Page', idea_build_path(@idea), class: 'btn btn-primary', method: :get %><br><br>
  <% end %>

  <% if @idea.user == current_user %>
    <%= link_to 'Edit Image', edit_idea_path(@idea) %><br><br>
  <% end %>
  
<% end %>

