
<% content_for :sidebar_left do %>
  
  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: @idea} %>

  <h2>
    <%= @idea.title %>
  </h2>

  <p>
    <% @image_solution = @idea.top_image %>
    <% img_name = 'default.png' %>
    <% if @image_solution %>
      <% img_name = image_tag @image_solution.image.display %>
    <% end %>
    <%= link_to idea_aspect_path(
        idea_id:@idea.id,
        id: @idea.image_aspect) do %>
      <%= image_tag img_name %>
    <% end %>
  </p>

  <p>
    Phase <%= @idea.phase %>
  </p>

  <p>
    <%= @idea.brief %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= print_categories %>
  </p>

  <p>
    <%= render @idea.user %>
  </p>

<% end %>