
<% content_for :sidebar_left do %>
  
  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: @idea} %>

  <p>
    <strong>Title:</strong>
    <%= @idea.title %>
  </p>
  <p>
    <strong>Phase:</strong>
    <%= @idea.phase %>
  </p>

  <p>
    <strong>Brief:</strong>
    <%= @idea.brief %>
  </p>

  <p>
    <strong>Image:</strong>
    <% @image_solution = @idea.top_image %>
    <% if @image_solution %>
      <%= link_to idea_aspect_path(
          idea_id:@idea.id,
          id: @idea.image_aspect) do %>
        <%= image_tag @image_solution.image.display %>
      <% end %>
    <% else %>
      <%= link_to idea_aspect_path(
          idea_id:@idea.id,
          id: @idea.image_aspect) do %>
        <%= image_tag 'default.png' %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @idea.active %>
  </p>

  <p>
    <strong>Components:</strong>
    <%= @idea.component_list %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= @idea.category_list %>
  </p>

  <p>
    <strong>User:</strong>
    <%= render @idea.user %>
  </p>

<% end %>