
<% content_for :sidebar_left do %>
  
  

  <%= link_to(vote_idea_path(@idea, type: "up"), method: "post", id: "vote-up", class: "btn btn-default btn-xs") do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
  <% end %>
  <%= link_to(vote_idea_path(@idea, type: "down"), method: "post", id: "vote-down", class: "btn btn-default btn-xs") do %>
      <span class="glyphicon glyphicon-arrow-down"></span>
  <% end %>
  <p>
    <strong>Votes:</strong>
    <%= @idea.reputation_for(:votes).to_i %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= @idea.phase %>
  </p>

  <p>
    <strong>Brief:</strong>
    <%= @idea.brief %>
  </p>

  <p>
    <strong>Image:</strong>
    <% @image_solution = idea_top_image(@idea) %>
    <% if @image_solution %>
      <%= link_to idea_aspect_path(
          idea_id:@idea.id,
          id: @image_solution.aspect.id) do %>
        <%= image_tag @image_solution.image.display %>
      <% end %>
    <% else %>
        <%= image_tag 'default.png' %>
    <% end %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @idea.active %>
  </p>

  <p>
    <strong>Components:</strong>
    <%= @idea.component_list %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= @idea.category_list %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to @idea.user.name, @idea.user.profile %>
  </p>

<% end %>