
<% content_for :sidebar_left do %>
<div class='ideaside'>  
<br>
  <div class='ideaphoto'>
    <%= link_to idea_aspect_path(
        idea_id:@idea.id,
        id: @idea.image_aspect) do %>
      <%= image_tag @idea.top_image, class: 'img-rounded'  %>
    <% end %>
  </div>
  <div style="float:left;  width:150px; height: 120px;">&nbsp;</div>
  <div class='ideainfo'>
    <p>
    <span class='glyphicon glyphicon-star unclickable'></span>
    <%= link_to "#{@idea.followers.count}", followers_idea_path(@idea),
      class: 'badge-rep up' %></p>
    <p><strong>
      Phase <%= @idea.phase %>
    </strong></p>
    <% if @idea.phase == 3 %>
      <p>
        <strong style='color:#5cb85c;'>User votes:</strong> 
        <span class='badge-rep' style='background-color:#5cb85c;margin-right:5px;'><%= @idea.get_use_votes %></span><br>
      </p>
      <p style='margin-top:-5px;'>
        <strong style='color:#34495E;'>Buyer votes:</strong> 
        <span class='badge-rep' style='background-color:#34495E;'><%= @idea.get_buy_votes %></span><br>
      </p>
    <% end %>
    <p>By <%= render @idea.user %></p>
    <i><%= time_ago_in_words(@idea.created_at) %> ago </i>
  </div>
</div>
<br>
  <p class='doc'>
    <b>Brief:</b>
    <%= @idea.brief %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= print_categories %>
  </p>

<% if @idea.phase == 3 %>
  <% unless current_user.buy_phase_vote?(@idea) %>
    <div><hr>
      <span style='float:left; margin-right:10px;'><%= button_to "I'd buy it!", buy_vote_path(id: @idea.id), class: 'btn btn-success' %></span>
      <span style='float:left;'><%= button_to "I'd use it!", use_vote_path(id: @idea.id), class: 'btn btn-inverse' %></span>
    </div><br><br>
  <% end %>
<% end %>

 <% if current_user != nil and current_user.admin %>
  <hr>
  <%= link_to "Promote", promote_idea_path(@idea), class: 'btn btn-danger' %>
 <% end %>
<% end %>

