
<% content_for :sidebar_left do %>
  
  <p>
    <%= link_to idea_aspect_path(
        idea_id:@idea.id,
        id: @idea.image_aspect) do %>
      <%= image_tag @idea.top_image, class: 'img-rounded'  %>
    <% end %>
  </p>

  <p>
    <%= link_to "Followers", followers_idea_path(@idea),
      class: 'followers' %>
  </p>

  <p>
    <strong>
      Phase <%= @idea.phase %>
    </strong>
  </p>

  <p>
    <%= @idea.brief %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= print_categories %>
  </p>

  <p>
    <%= render @idea.user %>
  </p>

  <%= link_to "Promote", promote_idea_path(@idea), class: 'btn btn-danger' %>

<% end %>