<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>


  <div style='position:relative; display:inline; float:left;'>
    <h4>Fill in aspects of the 
    <a href='https://leanstack.com/LeanCanvas.pdf' id='buscanvas' target='_blank'>
      <b>Lean Startup Business Canvas</b>.
    </a>
    </h4>
  </div>
  <div class='pull-right' style='position:relative; display:inline;' id='1-div'>
    <a id="1-pop-link" 
        href="#" 
        data-toggle="popover" 
        data-content="The start-up business canvas is a set of brainstorming topics designed to define an idea's business plan. Our business canvas is a combination of the classic <i>Business Model Canvas</i> and the <i>Lean Start-up Canvas</i>. <b>For a description of what each of the aspects mean, look in the Documentation section</b>. If you click on any of them, you will see a discussion of how the idea and its business model will fulfil the aspect. For exmaple, if you click on <b>Revenue streams</b>, you will see users' brainstorms about how the idea can generate revenue and which of those sources should be the target.">
      <%= image_tag 'labthinghelp.png', size: '36x36', id: '1-img' %>
      <span id='1-close' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
        <b>x</b>
      </span>
    </a>      
  </div>

<br><br>
<ul class="aspects">
	<% @aspects.each do |aspect| %>
		<%= render partial: 'aspects/aspect', locals:{aspect: aspect, idea: @idea} %>
	<% end %>
</ul>
