<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>


<h4><%= pluralize(@idea.followers.count, "follower") %> of <%=@idea.title %></h4>

<div class="content-bg">
  <div class="idea-followers">
    <% @idea_followers.each do |user| %>
        <%= render 'users/user_with_points', user: user %>
    <% end %>
  </div>
</div>
