<p id="notice"><%= notice %></p>

<%= render 'page_title' %>
<%= render 'sidebar' %>

<div class="welcome-block clearfix">
<h4 class="set-font pull-left">Submit a Question</h4>
<div style='float:right;'>
  <div style='float:left;' id='1-div'>
    <a id="1-pop" 
        href="#" 
        data-toggle="popover" 
        data-content="Direct this idea's creative vision by asking questions about it: different aspects of the product or problems and obstacles you imagine it encountering, to name a few possibilities (e.g. for the idea: An Interactive Medical Diagnosing Platform, you could ask: are the legal implications associated with diagnosing people without a medical degree? What are they and how do we overcome them? When there are multiple possible diagnosis based on a user’s set of symptoms and his answers to a few yes or no questions, how do we narrow them down?). <br><br>Use the questions to help you and others understand the product’s creative features and scope; write the question in such a way that others' answers will pivot and improve the idea, bringing it closer to the <b>build</b> phase.">
      <%= image_tag 'labthinghelp.png', size: '36x36', id: 'help' %>
      <span id='1-close' class='pull-left' style='display:none; position:absolute; top:0; margin-left:-5px; color:#34495E;'>
        <b>x</b>
      </span>
    </a>      
  </div>
</div>
</div>
<div class="content-bg">
  <%= render template: 'questions/new' %>
</div>

<%= link_to 'Back', @idea %>
