<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<div class="welcome-block clearfix">
	<h4 class="pull-left">Critique, expand, and improve this idea!</h4>
	<%= link_to "Create a question", {
	  controller: "questions",
	  action: "new",
	  idea_id: @idea.id},
	  class: 'btn btn-info pull-right'
	%>
</div>
  <ul class="media-list questions">
		<% if @idea.questions.count > 0 %>
    	<%= render vote_order(@idea.questions) %>
  	<% else %>
		No questions found. Why don't you 
		<%= link_to "ask one", {
		  controller: "questions",
		  action: "new",
		  idea_id: @idea.id}
		%>
	  ?  
		<% end %>
  </ul>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
