<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @idea.phase %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @idea.brief %>
</p>

<p>
  <strong>Image:</strong>
  <%= @idea.image %>
</p>

<p>
  <strong>Active:</strong>
  <%= @idea.active %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @idea.industry %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<% @aspects = Aspect.where(idea_id: @idea) %>
<% if @aspects.count > 0 %>
    <h4>Aspects:</h4>
    <p>Number of aspects: <%= @aspects.count %></p>
    <% @aspects.each do |aspect| %>
        <p>
          <%= link_to aspect.title, aspect %>
          by
          <%= User.find(aspect.user_id).email %>
        </p>
    <% end %>
<% else %>
    <h3>No aspects</h3>
<% end %>



<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
