<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<div class="welcome-block clearfix">
	<h4 class="pull-left">Critique, expand, and improve this idea!</h4>
	<%= link_to "Create a question", {
	  controller: "questions",
	  action: "new",
	  idea_id: @idea.id},
	  class: 'btn btn-info pull-right'
	%>
</div>
  <ul class="questions">
    <%= render @idea.questions || "No questions found" %>   
  </ul>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
