<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @idea.phase %>
</p>

<p>
  <strong>Brief:</strong>
  <%= best_in_place @idea, :brief, :ok_button => "Submit", :ok_button_class => "btn best-in-place-submit" %>
</p>

<p>
  <strong>Image:</strong>
  <%= @idea.image %>
</p>

<p>
  <strong>Active:</strong>
  <%= @idea.active %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @idea.industry %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @idea.user.name, @idea.user.profile %>
</p>


<h4>Aspects:</h4>
  <ul class="aspects">
    <%= render Aspect.where(idea_id: @idea.id) || "No aspects found" %>
    <p>
      <%= link_to "Add aspect", controller: "aspects", action: "new", idea_id: @idea.id %>
    </p>
  </ul>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
