<% # This template is called from Idea#show %>
<li class="comment">

  <div class="comment-<%= comment.id %>-vote-wrapper">
    <%= render template: "evaluations/show", locals: {voteable: comment} %>
  </div>
	
  <p>
    <strong>Comment:</strong>
    <%= comment.brief %>
  </p>
  <% unless comment.commentable_type == 'Comment' then %>
	  <ul class="comment-replies">
	  	<%= render vote_order(comment.comments) %>
	  </ul>
    <p>
      <%= link_to "Reply to comment", new_comment_comment_path(comment) %>
    </p>
  <% end %>
</li>