<% # This template is called from Idea#show %>
<li class="media comment comment-<%= comment.id %>">

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: comment} %>
	
  <div class="media-body">
    <div class="media-item-body">
      <strong>
        <%= render comment.user %>
      </strong>     
      <br />
      <%= comment.brief %>
      <br>
      <div class='pull-right'>
        <small><i> Posted <%= time_ago_in_words(comment.created_at) %> ago</i></small><br>
      </div>
    </div>
    <br><hr style="color:#fff;background-color:#fff;border-color:#fff;" />
    <% unless comment.commentable_type == 'Comment' then %>
      <ul class="media-list comments comment-comments">
        <% if comment.comments.count > 0 %>
    	  	<%= render vote_order(comment.comments.includes(:user)) %>
        <% else %>
          <br> 
        <% end %>
      </ul>           
        <% if (@idea and @idea.phase != 1) %>
          <p class="link-dis"> Reply to comment </p>
        <% else %>
          <%= link_to "Reply to comment", new_comment_comment_path(comment), id: "comment-#{comment.id}", remote: true %>
        <% end %>
    <% end %>
  </div>
</li>