<% # This template is called from Idea#show %>
<li class="media comment comment-<%= comment.id %>">

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: comment} %>
	
  <div class="media-body">
      <div class="pull-left">
        <%= link_to comment.user.profile do %>
          <%= image_tag comment.user.profile.photo.thumb %>
        <% end %>
      </div>
    <div class="media-item-body">
      <strong>
        <%= link_to comment.user.name, comment.user.profile %>
      </strong>
      <br />
      <%= comment.brief %>
    </div>
    <% unless comment.commentable_type == 'Comment' then %>
      <ul class="media-list comments comment-comments">
        <% if comment.comments.count > 0 %>
    	  	<%= render vote_order(comment.comments.includes(:user)) %>
        <% end %>
      </ul>
      <%= link_to "Reply to comment", new_comment_comment_path(comment), remote: true %>
    <% end %>
  </div>
</li>