/* Select things like .solution-12 */
var selector = ".<%= j @commentable.class.to_s.downcase + '-' + @commentable.id.to_s + ' .media-body ' %>"
selector = selector + " ul.media-list.comments.<%= j @commentable.class.to_s.downcase %>-comments"
var y = $("a:contains('Cancel')").not("#<%= j @commentable.id.to_s %>")
if ($(y).attr('id') != 'cancelanswerform') {
	console.log($(y).attr('id'))
	if ($(y).closest(" .media.comment.comment").length > 0) {
		$(y).text("Reply to comment")
	}
	else if ($(y).attr('id') == 'newanswer' ) {
		$(y).text("Add answer")
		$("div.no.answers").show()
	}
	else if ($(y).attr('id') == 'newsolution' ) {
		$(y).text("Add solution")
		$("p.no.solution").show()
	}
	else {
		console.log($(y))
		$(y).not('a#cancelanswerform').text("Add comment")
		$("div.no.comments").show()
	}
}


if (!$(selector).children().hasClass("js-inline-form")) {
	$(" .js-inline-form").remove()
	$(selector)
		.append("<li class='js-inline-form'><%= j render :partial => 'comments/form' %></li>")
	$("#<%= j @commentable.class.to_s.downcase + '-' + @commentable.id.to_s %>").text("Cancel")
	$("div.no.comments").hide()
}
else {
	$(" li.js-inline-form").remove()
	$("div.no.comments").show()
	if($("#comment-<%= j @commentable.id.to_s %>").length > 0) {
		$("#<%= j @commentable.class.to_s.downcase + '-' + @commentable.id.to_s %>").text("Reply to comment")
	}
	else {
		$("#<%= j @commentable.class.to_s.downcase + '-' + @commentable.id.to_s %>").text("Add comment")
	}
}


