<% followed_ideas = user.followed_ideas %>
<div class="content-bg">
  <div class="followed-ideas">
    <% followed_ideas.each do |idea| %>
      <li class="white-bg" id='idea-<%= idea.id %>'>
        <div class="media">
          <div class='pull-right'>
            <% if user == current_user then %>
              <div class="unfollow-button-in-list">
                <%= render 'ideas/unfollow', idea: idea %>
              </div><br>
            <% end %>
            <div class='pull-right'><strong>Phase:</strong> <%= idea.phase %></div><br>
          </div>
          <% if idea.phase == 2 %>
            <%= link_to idea_build_path(idea_id: idea.id), class: "pull-left" do %>
              <%= image_tag idea.top_image_thumb, class: 'img-rounded' %>
            <% end %>
          <% else %>
            <%= link_to idea, class: "pull-left" do %>
              <%= image_tag idea.top_image_thumb, class: 'img-rounded' %>
            <% end %>
          <% end %>
          <div class="idea-render pull-left">
            <%= render idea %>
          </div>
          <br>
          <p class='doc'>
            <%= truncate(idea.brief, length: 185) %>
          </p>
            <div style='margin-left:70px;'>
              <span style='color:#5cb85c;margin-right:10px;'>
                <b>local reputation:</b> 
                <span class='badge-rep' style='background-color:#5cb85c;'>
                  <%= idea.user.points %>
                </span>
              </span>
              <span style='color:#1ABC9C;'>
              <% if idea.phase != 1 %>
                <b>equity:</b> <span class='badge-rep' style='background-color:#1ABC9C;'><%= user.get_equity(idea.idea_build) %></span>
              <% end %>
              </span>
            </div>
          <span class='col-md-10 no-gutter' style='margin-left:70px; padding-right:30px;margin-top:-10px;'><hr></span>
        <a href='javascript:void(0);' class='btn btn-xs btn-inverse showactivity pull-left' style='margin-left:70px;margin-top:-5px;'>Show User Activity</a><br>
          <div class='activity' style='margin-left:70px; display:none;'>
            <ul class='pull-left col-md-11 no-gutter' style='padding-right:10;'>
              <br>
              <%= render partial: "activities/activities", :locals => {activities: idea.get_idea_activities.collect { |a| a if a.owner_id = user.id }} %></ul>
          </div>
        </div>
        <br>
      </li>
    <% end %>
  </div>
</div>