<% profile = user.profile %>
<li class="white-bg">
  <div class="media">
    <%= link_to profile, class: "pull-left top" do %>
      <%= image_tag(profile.photo.thumb, size: '60x60', class: 'img-rounded') %>
    <% end %>
    <div style='margin-top:2px;'>
      <span><%= render 'users/user', user: user %></span><br>
      <div style='height:3px;'></div>
      <span><%= user.university %></span><br>
      <div style='height:3px;'></div>
      <div style='margin-left:70px;'>
        <div style='color:#5cb85c;float:left;margin-right:10px;'>
          <b>local reputation:</b> 
          <span class='badge-rep' style='background-color:#5cb85c;'>
            <%= points %>
          </span>
        </div>
      </div>
    </div>
  </div><hr>
</li>