<% profile = user.profile %>
<li class="white-bg">
  <div class="media">
    <%= link_to profile, class: "pull-left" do %>
      <%= image_tag(profile.photo.thumb, size: '60x60', class: 'img-rounded') %>
    <% end %>
    <div class="pull-left" style='margin-top:5px;'>
      <%= render 'users/user', user: user %>
      <br>
      <% if profile.website %>
        <strong>Twitter:</strong>
        <%= profile.website %><br>
      <% end %>
      <% if profile.country %>
        <strong>Country:</strong>
        <%= profile.country %><br>
      <% end %>
    </div>
    <div class='pull-right' style='margin-top:5px;'>
      <div style=' color:#5cb85c;'>
        <b>local reputation:</b> 
        <span class='badge-rep' style='background-color:#5cb85c;'>
          <%= points %>
        </span>
      </div>
      <div style='color:#1ABC9C; float:right;'>
      <% if @idea and @idea.phase != 1 %>
        <b>equity:</b> <span class='badge-rep' style='background-color:#1ABC9C;'><%= user.get_equity(@idea.idea_build) %></span>
      <% end %>
    </div>
  </div>
</li>