<% profile = user.profile %>
<li class="white-bg">
  <div class="media">
    <%= link_to profile, class: "pull-left" do %>
      <%= image_tag(profile.photo.thumb, size: '60x60', class: 'img-rounded') %>
    <% end %>
    <div class="pull-left" style='margin-top:5px;'>
      <%= render 'users/user', user: user %>
      <br>
      <%= user.university %>
      <br>
    <div style=''>
      <div style=' color:#5cb85c;'>
        <b>local reputation:</b> 
        <span class='badge-rep' style='background-color:#5cb85c;'>
          <%= points %>
        </span>
      </div>
    </div>
    </div>
  </div>
  <hr class='profile-border' style='border-width:1px;'/>
</li>