  <% if current_user && current_user.up_voted_for?(voteable) == true %>

  <%= render 'shared/vote_link',
      type: "undo",
      active:"active",
      voteable: voteable,
      arrow_type: "up"
       %>

  <%= render 'shared/vote_link',
      type: "down",
      active:"",
      voteable: voteable 
       %>

  <% elsif current_user && current_user.down_voted_for?(voteable) == true %>

  <%= render 'shared/vote_link',
      type: "up",
      active:"",
      voteable: voteable 
       %>

  <%= render 'shared/vote_link',
      type: "undo",
      active:"active",
      voteable: voteable,
      arrow_type: "down"
       %>
  <% else %>

  <%= render 'shared/vote_link',
      type: "up",
      active:"",
      voteable: voteable 
       %>

  <%= render 'shared/vote_link',
      type: "down",
      active:"",
      voteable: voteable 
       %>
  <% end %>
  <p>
    <strong>Votes:</strong>
    <span class="vote-count">
      <%= voteable.reputation_for(:votes).to_i %>
    </span>
  </p>
