<% # This template is called from Idea#show %>
<li class="answer">

  <div class="answer-<%= answer.id %>-vote-wrapper">
    <%= render template: "evaluations/show", locals: {voteable: answer} %>
  </div>
  
  <p>
    <strong>Answer:</strong>
    <%= answer.brief %>
  </p>
    <ul class="comments answer-comments">
      <%= render answer.comments || "No comments found" %>
	 		<p>
	      <%= link_to "Add comment", new_answer_comment_path(answer) %>
	  	</p>
    </ul>
</li>