<% # This template is called from Idea#show %>

<li class="media answer answer-<%= answer.id %> content-bg">

    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: answer} %>


    <div class="media-body">
      <div class="media-body">
        <div class="media-item-body">
            <div class='userwrap'>
              <div class='photo'>
              <%= link_to (image_tag answer.user.profile.photo.thumb, :size => "36x36", class: 'img-rounded'), profile_path(answer.user.profile)%>
              </div>
              <div class='username'>
              <%= render answer.user %><br>
              <small><i> Posted <%= time_ago_in_words(answer.created_at) %> ago</i></small>
              </div>
            </div>
          <br>
          <p><%= answer.brief %></p>
          <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
        </div>
      </div>
      <div class='pull-right'>
        <% if answer.question.idea.is_phase_1? %>
          <%= link_to "Add comment", 'javascript:void(0);', class: "add-answer-comment" %>
        <% else %>
          <span class="link-dis"> Add comment </span>
        <% end %>
        <span class="add-comment-bar link-dis"> | </span>
        <% if answer.comments.count > 0 %>
          <a href='javascript:void(0);' class='hideanscomments' style='display:none;'>Hide Answer Comments (<%= answer.comments.count %>)</a>
          <a href='javascript:void(0);' class='showanscomments'>Show Answer Comments (<%= answer.comments.count %>)</a>
        <% end %>
      </div>
      <br>
      <div class="media-body answercomments" style='display:none;'>
        <ul class="media-list comments answer-comments">
          <div class='white-bg comment-form' style='display:none;'>
            <%= render partial: 'comments/form', locals: { url: create_comment_path(commentable_id: answer.id, commentable_type: 'Answer', idea_id: answer.question.idea.id) } %><br>
            <%= link_to 'Cancel', 'javascript:void(0);', class: 'cancel-answer-comment' %>
          </div>
          <% if answer.comments.count > 0 %>
            <%= render vote_order(answer.comments.includes(:user)) %>
          <% end %>
        </ul>
      </div>
    </div>
</li>
