<% # This template is called from Idea#show %>
<li class="media answer answer-<%= answer.id %>">

    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: answer} %>


    <div class="media-body">
      <div class="media-item-body">
        <%= answer.brief %>
      <div class="pull-right">
        <%= render answer.user %>
      </div>
      </div>
      <ul class="media-list comments answer-comments">
        <% if answer.comments.count > 0 %>
          <%= render vote_order(answer.comments.includes(:user)) || "No comments found" %>
        <% end %>
      </ul>
      <p>
        <%= link_to "Add comment", new_answer_comment_path(answer), id: "#{answer.id}", remote: true %>
      </p>
    </div>
</li>
