<% # This template is called from Idea#show %>
<li class="media answer">

    <%= render partial: "evaluations/vote_wrapper", locals: {voteable: answer} %>


    <div class="media-body">
      <div class="media-item-body">
        <%= answer.brief %>
      <div class="pull-right">
        <%= link_to answer.user.name, answer.user.profile %>
      </div>
      </div>
      <% if answer.comments.count > 0 %>
        <ul class="media-list comments answer-comments">
          <%= render vote_order(answer.comments) || "No comments found" %>
        </ul>
      <% end %>
      <p>
        <%= link_to "Add comment", new_answer_comment_path(answer) %>
      </p>
    </div>
</li>
