<%= form_for @answer, url: url do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label 'Answer' %><br>
    <%= f.text_area :brief, placeholder: 'READ THIS BEFORE TYPING IF THIS IS THE FIRST ANSWER YOU ARE SUBMITTING. Be as detailed as possible and try to back up your points with articles, multimedia, or other sources. Be friendly when making your points, but do not be afraid to disagree with other users; multiple viewpoints enhance discussion and accelerate development. Finally, keep in mind that the best answers are written with proper grammar and full sentences.', rows: 5, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Answer', :class => "btn btn-primary" %>
  </div>


<% end %>
