<% if team_application.accepted?(@idea.idea_build) %>
  <li class="media team_application team_application-<%= team_application.id %> content-bg" style='background-color:#e0fde0'>
<% else %>
  <li class="media team_application team_application-<%= team_application.id %> content-bg">
<% end %>
    <div class="media-body">
      <div class="media-body">
        <div class="media-item-body">
            <div class='userwrap'>
              <div class='pull-left'>
                <div class='photo'>
                <%= link_to (image_tag team_application.user.profile.photo.thumb, :size => "36x36"), profile_path(team_application.user.profile)%>
                </div>
                <div class='username'>
                <%= render team_application.user %><br>
                <small><i> Posted <%= time_ago_in_words(team_application.created_at) %> ago</i></small>
                </div>
              </div>
            
              <% if current_user.team_member?(@idea) and not team_application.accepted?(@idea.idea_build) %>
                <div class='pull-right'><%= button_to 'Accept as Team Member', create_team_member_path(idea_build_id: @idea.idea_build.id, user_id: team_application.user.id), class: 'btn btn-success' %></div><br><br>
              <% else %>
                <div class='pull-right btn btn-xs disabled btn-success core-team' style='margin-top:3px;'><b>Accepted</b></div><br>
              <% end %>
            </div>
          <br>
          <p class='doc'><%= team_application.pitch %></p>
          <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
        </div>
      </div>
      <% if team_application.nil? %>
        <a href='javascript:void(0);' class='showanscomments'>Hide team_application Comments</a>
        <br><br>
      <% end %>
      <div class="media-body postcomments">
        <ul class="media-list comments answer-comments">
          <% if team_application.nil? %>
            <%= render team_application.comments.includes(:user) %>
          <% end %>
        </ul>
        <p class="link-dis"> Add comment </p>
      </div>
    </div>
</li>