<h1>New Admin Task</h1>

<%= form_for @admin_task, url: create_admin_task_path do |f| %>
  <% if @admin_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_task.errors.count, "error") %> prohibited this admin_task from being saved:</h2>

      <ul>
      <% @admin_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div><br>
  <div class="actions">
    <%= f.submit "Create Task", class: 'btn btn-primary' %>
  </div>
<% end %>

<br>
<%= link_to 'Back', part_admin_tasks_path %>
