<% # This template is called from Idea#show %>
<li>
    <p>
    <strong>Aspect:</strong>
      <%= link_to aspect.title, aspect %>
      by
      <%= User.find(aspect.user_id).email %>
    </p>
    <p>
    <strong>Brief:</strong>
      <%= aspect.brief %>
    </p>
    <ul>
      <%= render aspect.solutions || "No solutions found" %>   
      <p>
        <%= link_to "Add solution", controller: "solutions", action: "new", solution_id: solution.id %>
      </p>
    </ul>
</li>