<p id="notice"><%= notice %></p>

<p>
  <h1><%= @aspect.title %></h1>
  <strong>Brief:</strong>
  <%= @aspect.brief %>
  <br />
  <strong>User:</strong>
  <%= User.find(@aspect.user_id).email %>
  <br />
  <strong>Idea:</strong>
  <%= link_to @aspect.idea.brief, @aspect.idea %>
</p>

<% @answers = Answer.where(aspect_id: @aspect) %>
<% if @answers.count > 0 %>
    <h4>Answers:</h4>
    <p>Number of answers: <%= @answers.count %></p>
    <% @answers.each do |answer| %>
        <p>
          <%= link_to answer.brief, answer %>
          by
          <%= User.find(answer.user_id).email %>
        </p>
    <% end %>
<% else %>
    <p id="notice">
    This aspect does not yet have a answer. Why don't you describe one?
    </p>
<% end %>

<%= link_to 'Edit', edit_aspect_path(@aspect) %> |
<%= link_to 'Back', Idea.find(@aspect.idea_id) %>
