<p id="notice"><%= notice %></p>
<%= javascript_include_tag 'ajax401' %>

<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @idea} %>

<p>
  <h1><%= @aspect.title %></h1>
  <% unless @aspect.title == 'Image' %>
    <div style='float:right;' id='helpcontent'>
      <a id="pop" 
          href="#" 
          data-html='true'
          data-toggle="popover" 
          data-content="For more information about what these aspects mean and what they are for, visit the <b>Documentation</b> page.<br><br>Once you understand the aspects and how the business canvas works, you can submit a solution for one of the aspects of the idea's business model in as many as 1250 characters using the guide above. Do not be afraid to have a differing opinion from others in your solution; a discussion with differing viewpoints causes the idea to pivot and its business model to flesh out more effectively.">
        <%= image_tag 'labthinghelp.png', size: '36x36', id: 'help' %>
        <span id='close' class='pull-left' style='display:none; color:#34495E;'>
          <b>x</b>
        </span>
      </a>      
    </div>
  <% end %>
  <hr>
  <div><%= @aspect.brief %></div>
  <hr>
</p>

  <% if @solutions.count > 0 %>
    <h4>Solutions:</h4>
      <ul class="media-list solutions">
      <% vote_order(@solutions).each do |solution| %>
            <%= render solution || "No solutions found" %>
    <% end %>
  </ul><!-- .solutions -->
<% else %>
    <p class="no solution">
    This aspect does not yet have a solution. Why don't you describe one?
    </p>
    <ul class="media-list solutions">
  </ul><!-- .solutions -->
<% end %>

<% if @idea.phase != 1 %>
  <p class="link-dis"> Add solution </p>
<% else %>
  <%= link_to "Add solution", new_aspect_solution_path(aspect_id: @aspect.id, idea_id: @idea.id), id: 'newsolution', remote:true %>
<% end %>
