<p id="notice"><%= notice %></p>

<p>
  <h1><%= @aspect.title %></h1>
  <strong>Brief:</strong>
  <%= @aspect.brief %>
  <br />
  <strong>User:</strong>
  <%= @aspect.user_id %>
  <br />
  <strong>Idea:</strong>
  <%= link_to @aspect.idea.brief, @aspect.idea %>
</p>

<% @solutions = Solution.where(aspect_id: @aspect) %>
<% if @solutions.count > 0 %>
    <h4>Solutions:</h4>
    <p>Number of solutions: <%= @solutions.count %></p>
    <% @solutions.each do |solution| %>
        <p>
          <%= link_to solution.brief, solution %>
          by
          <%= User.find(solution.user_id).email %>
        </p>
    <% end %>
<% else %>
    <p id="notice">
    This aspect does not yet have a solution. Why don't you describe one?
    </p>
<% end %>

<%= link_to 'Edit', edit_aspect_path(@aspect) %> |
<%= link_to 'Back', Idea.find(@aspect.idea_id) %>
