<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @idea} %>
<hr>
<p>
  <h3 class='set-font-bold'><%= @aspect.title %></h3><br>
  <div><p style='line-height:25px;'><%= @aspect.brief %></p></div>
</p>
<div class='row'>
  <div class='welcome-block clearfix' style='margin-bottom:-5px;'>
    <a href='javascript:void(0);' style='color:#333333;'><h4 class='pull-left'>Solutions:</h4></a>
    <% if @idea.is_phase_1? %>
    <button href='javascript:void(0);' class='btn btn-info pull-right' align='center' id='newsolution'>
    <% else %>
    <button href='javascript:void(0);' class='btn btn-info disabled pull-right' align='center'>
    <% end %>
      Add Solution
    </button>
  </div><hr>
  <div class='content-bg solution-form' style='display:none;'>
    <%= render partial: 'solutions/form' %><br>
    <%= link_to 'Cancel', 'javascript:void(0);', id: 'cancel-solution' %>
  </div>
  <% if @solutions.count > 0 %>
      <ul class="media-list solutions">
      <% vote_order(@solutions).each do |solution| %>
        <%= render solution || "No solutions found" %>
    <% end %>
  </ul><!-- .solutions -->
<% else %>
    <p class="no solution content-bg">
    This aspect does not yet have a solution. Why don't you describe one?
    </p>
<% end %>
