<p id="notice"><%= notice %></p>

<%= render 'ideas/sidebar' %>
<%= render 'ideas/secondary_nav', locals: {idea: @idea} %>

<p>
  <h1><%= @aspect.title %></h1>
  <%= @aspect.brief %>
</p>

<% if defined? @solutions %>
    <h4>Solutions:</h4>
    <p>Number of solutions: <%= @solutions.count %></p>
  <ul class="solutions">
    <% @solutions.each do |solution| %>
        <p>
          <%= render solution || "No solutions found" %>
        </p>
    <% end %>
  </ul><!-- .solutions -->
<% else %>
    <p>
    This aspect does not yet have a solution. Why don't you describe one?
    </p>
<% end %>

  <p>
    <%= link_to "Add solution", new_aspect_solution_path(aspect_id: @aspect.id, idea_id: @idea.id) %>
  </p>

<%= link_to 'Edit', edit_aspect_path(@aspect) %>