<%= form_for(@post, url: url) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4><%= title %></h4>
  <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
  <div class='field'>
    <div class="form-group">
      <%= f.label 'Description' %><br>
      <%= f.text_area :content, size: '113x5', placeholder: placeholder, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.text_field :image %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Post', :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>