
  <li class="media post">
    <div class="media-body">
      <div class="media-body">
      <% if post.open? %>
        <div class="media-item-body content-bg">
      <% else %>  
        <div class="media-item-body content-bg" style='background-color:#ffe5e5'>
      <% end %>
            <div class='userwrap'>
              <div class='pull-left'>
                <div class='photo'>
                <%= link_to (image_tag post.user.profile.photo.thumb, :size => "36x36"), profile_path(post.user.profile)%>
                </div>
                <div class='username'>
                <%= render post.user %><br>
                <small><i> Posted <%= time_ago_in_words(post.created_at) %> ago</i></small>
                </div>
              </div>
              <% if post.proposal? %>
                <% unless post.open? %>
                  <div class='pull-right btn btn-xs disabled btn-danger core-team' style='margin-top:3px;'><b>Closed</b></div><br>
                <% end %>
              <% end %>
            </div>
          <br>
          <p class='doc'><%= post.content %></p>
          <p><%= image_tag post.image.url, :size => "300x300"%></p>
          <hr style="color:#fff;background-color:#fff;border-color:#fff;" />       
        <% if post.kind == 'team' %>
          <span><%= link_to 'View Proposal', post_path(post_id: post.id, idea_id: @idea.id) %></span>
          <% if post.open? %>
            <span class="link-dis" style='margin-left:10px;'> | </span>
            <span style='margin-left:10px;'><%= link_to 'Apply to be a Team Member', post_path(post_id: post.id, idea_id: @idea.id) %></span>
          <% end %>
        <% end %>
          <a href='javascript:void(0);' class='pull-right comment' style='margin-left:10px;' align='center'>Add Comment</a> 
          <span class='link-dis pull-right' style='margin-left:9px;'> | </span>
          <a href='javascript:void(0);' class='pull-right showcomments'>Hide Comments</a>
          <%= link_to 'Like', like_path(model_name: post.class, model_id: post.id, user_id: current_user.id), method: :post %>
          <br> likes: <%= Like.where(model_name: post.class, model_id: post.id).count %>
          <br>
        </div>
      </div>
    </div>
    <div class="taskcomments taskcomm" style='width:87%;float:right;'>
        <hr/>
          <ul class="media-list comments answer-comments">
            <div class='content-bg commentform' style='display:none;'>
              <%= render partial: 'task_comments/form', locals: { url: create_task_comment_path(kind_id: post.id, kind: 'Post') } %><br>
              <%= link_to 'Cancel', 'javascript:void(0);', class: 'cancel-comment' %>
            </div>
            <% if post.get_comments.count > 0 %>
              <ul class="media-list comments answer-comments"><div class='content-bg' style='padding:10px;'><%= render post.get_comments.includes(:user) %></div></ul>
            <% else %>
              <div class='content-bg'>
                There are no comments on this post yet.
              </div>
            <% end %>
          </ul><br>         
    </div>
</li>

