<% if post.open? %>
  <div class="media post content-bg">
<% else %>
  <div class="media post content-bg" style='background-color:#ffe5e5'>
<% end %>
    <div class="media-body">
      <div class="media-body">
        <div class="media-item-body">
            <div class=''>
              <div class='pull-left col-md-10 no-gutter'>
                <h4><b><%= post.title %></b></h4>
              </div>
              <% if current_user.team_member?(@idea) and post.open? %>
                <div class='pull-right col-md-2 no-gutter' style='margin-top:10px;'>
                  <%= button_to 'Close Proposal', close_proposal_path(post_id: post.id, idea_id: @idea.id), class: 'btn btn-danger' %>
                </div><br><br>
              <% else %>
                <div class='pull-right btn btn-xs disabled btn-danger core-team' style='margin-top:3px;'><b>Closed</b></div><br>
              <% end %>
            </div><hr style="color:#fff;background-color:#fff;border-color:#fff;margin-top:20px;" />
          <div class='doc pull-left'><%= post.content %></div>
          <div class='pull-right'>
            <div class='photo'>
              <%= link_to (image_tag post.user.profile.photo.thumb, :size => "36x36"), profile_path(post.user.profile)%>
            </div>
            <div class='username'>
              <%= render post.user %><br>
              <small><i> Posted <%= time_ago_in_words(post.created_at) %> ago</i></small>
            </div>
          </div><br><br>
        </div>
      </div><hr style="color:#fff;background-color:#fff;border-color:#fff;" />
      <% if post.nil? %>
        <a href='javascript:void(0);' class='showanscomments'>Hide Post Comments</a>
        <br><br>
      <% end %>
      <div class="media-body answercomments">
        <ul class="media-list comments answer-comments">
          <% if post.nil? %>
            <%= render post.comments.includes(:user) %>
          <% end %>
        </ul>
      </div>
    </div>
</div>
<br>
<%= render 'applications' %>

