<%= render 'idea_builds/secondary_nav' %>
<div class='col-md-8 no-gutter'>
  <%= render 'idea_builds/brief' %>
  <%= render 'secondary_sub_nav' %>
  <br>
  <div class='row no-gutter'>
    <h4 class=''>Viewing Proposal</h4>
    <%= render partial: 'posts/proposal', locals: { post: @post } %>
    <br>
    <div class='teamappl'>
      <%= link_to 'Back', idea_build_team_build_path(@idea), class: 'pull-right' %>
      <br><hr>
    </div>
  </div>
</div>
<div class='col-md-4'>
  <%= render 'idea_builds/sidebar' %>
</div>