<div class='doc'>
The <b>build phase</b> involves the idea’s prototype and business plan engineering. Here, we invite users help develop the idea into a minimum viable product (the core features of the product allowing it to be deployed, and no more). Users can write the idea’s description (its business model and specification for the prototype construction), write part of the business plan, design the frontend, or code the prototype. Your contributions are rewarded with equity in the idea and an increase in your reputation points. 
<br><br>
If you do not have prior experience writing business plans or building prototypes, it does not matter; for each part, we explain what its for, what is required, and how to structure it. We thus help you develop your skills in each of these 4 areas, and give you experience directly applying them to building up and coming technology-related start-ups. <br>
<hr>
<div id='partsandequity'>
  <h4><strong>Parts and Equity</strong></h4>
  <br>
  Below is a table depicting all of the components, parts and their corresponding equity percentages. <br><br>
  <table class='table' > 
    <tbody align='center'>
      <tr>
        <td ><b>Component</b></td>
        <td ><p><b>Part</b></p></td>
        <td ><p><b>Equity</b></p></td>
      </tr>

      <tr>
        <td ><p><i>Plan</i></p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>6%</p></td>
      </tr>

      <tr>
        <td><p><i>Business Plan</i></p></td>
        <td ><p>Summary of Business</p></td>
        <td ><p>6%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Summary of Product</p></td>
        <td ><p>6%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Marketing Strategy Plan</p></td>
        <td ><p>8%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Market Analysis</p></td>
        <td ><p>8%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Marketing Strategy Implementation</p></td>
        <td ><p>8%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Executive Summary</p></td>
        <td ><p>6%</p></td>
      </tr>

      <tr>
        <td><p><i>Design</i></p></td>
        <td ><p>Logo</p></td>
        <td ><p>2%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Wireframes</p></td>
        <td ><p>6%</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Mock-ups</p></td>
        <td ><p>8%</p></td>
      </tr>

      <tr>
        <td><p><i>Prototype</i></p></td>
        <td ><p>Flowchart & Schema</p></td>
        <td ><p>6%</p></td>
      </tr>

      <tr>
        <td><p></p></td>
        <td ><p>Prototype</p></td>
        <td ><p>30%</p></td>
      </tr>

      <tr> 
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  The plan component is the idea description: the backbone of the <b>build phase</b>. All users building other parts have viewing access to this component, because it is the plan for the minimum viable product and business model of the idea. When the idea transitions into the <b>build phase</b>, this is the first part that must be built.
  <br><br>
  The business plan component details the business model of the product; business-related goals, why they are attainable and the plan for reaching these goals. Here, it will also detail the process by which the team who purchases the idea in the buy phase should further develop the product, the business and the marketing plan by which they should go about building the brand image and can successfully target the customer segment. Excluding the executive summary, every part of the business plan is independent and can be written without referencing each other. The executive summary, however, will be locked until the other parts are completed, as it consists of an in depth summary of each of the other business plan parts.
  <br><br>
  The design component regards the brand image of the product and the front end of the prototype. Users here will design the logo, the wireframes for the product (the page layouts for each page necessary to present the core functionality of the product), and the mock-ups for these wireframes (wireframes including styling and design elements that help define the brand image). The logo and wireframes can be completed independently without referencing each other; however, the user producing the mock-up has viewing privileges to both other parts in the design component as it is comprised of wireframes styled with the brand image.
  <br><br>
  Finally, the prototype component regards building the backend of the minimum viable product. This first part consists of planning the prototype; the flowchart and schema. The flowchart is a diagrammatic representation of the workflow and process by which a customer uses the product, and the schema consists of a simple plan of the database structure of the product’s backend. The second part, the prototype, is the product itself; the core features necessary to deploy the MVP, whose backend follows the schema and frontend follows the flowchart and resembles the mock-ups. It is worth the most amount of equity because it is the most time intensive part in the <b>build phase</b>, and the most valuable content being created.
  <br><br>
  A more detailed explanation of each part along with a recommended structure for the content being submitted is detailed below.
  <hr>
</div>

<h3><strong>Plan Component</strong></h3><br>
<div id='ideadescription'>
  <%= render 'parts/help_content/idea_description' %>
</div>

<br><h3><strong>Business Plan Component</strong></h3><br>
<div id='summaryofbusiness'>
  <%= render 'parts/help_content/summary_of_business' %>
</div>

<div id='summaryofproduct'>
  <%= render 'parts/help_content/summary_of_product' %>
</div>

<div id='marketingstrategyplan'>
  <%= render 'parts/help_content/marketing_strategy_plan' %>
</div>

<div id='marketanalysis'>
  <%= render 'parts/help_content/market_analysis' %>
</div>

<div id='marketingstrategyimplementation'>
  <%= render 'parts/help_content/marketing_strategy_implementation' %>
</div>

<div id='executivesummary'>
  <%= render 'parts/help_content/executive_summary' %>
</div>

<br><h3><strong>Design Component</strong></h3><br>
<div id='logo'>
  <%= render 'parts/help_content/logo' %>
</div>

<div id='wireframes'>
  <%= render 'parts/help_content/wireframes' %>
</div>

<div id='mockups'>
  <%= render 'parts/help_content/mockups' %>
</div>

<br><h3><strong>Prototype Component</strong></h3><br>
<div id='flowchartandschema'>
  <%= render 'parts/help_content/flowchart' %>
</div>

<div id='prototype'>
  <%= render 'parts/help_content/prototype' %>
</div>

<div id='startpart'>
  <h4><strong>Starting a Part</strong></h4>
  <br>
  How does one take control of the part? 
  <br><br>
  If you click on an idea from the build page, you will get to its idea build overview page. Here, you will see a list of the components along with their corresponding parts and equity percentages. Under the part name, you will see its status, which can be locked, unstarted, started, finished, in review or accepted. Next to the equities, you will see buttons that indicate whether or not you can take action, and what action you can take for the given part. When the buttons are blue, it means they are active and you can take action; these can be start or finish. When they are grey, it means you cannot take action. These can be locked, started, finished or in review. 
  <br><br>
  A locked status and button indicate that other parts must be completed before this part can be started. For example, the idea description must be concluded before any other part can be started. When the status is unstarted and the button is blue and says start, it means you can take control of the part and submit content in exchange for equity. You must press start to be able to click on the part name and start working on your content. This content’s type varies depending on the part under consideration; for example, the prototype part’s content is code pushed from your development environment at home to a repository on <a href="https://bitbucket.org/">Bitbucket</a>.
  <br><br>
  Below is a table that depicts the type of content submitted for each part, what other parts must be submitted before the part can be unlocked.
  <br><br>
  <table class='table' > 
    <tbody align='center'>
      <tr>
        <td ><b>Component</b></td>
        <td ><p><b>Part</b></p></td>
        <td ><p><b>Parts Required for Unlock</b></p></td>
        <td ><p><b>Type of Content Submitted</b></p></td>
      </tr>

      <tr>
        <td ><p><i>Plan</i></p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>None</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td><p><i>Business Plan</i></p></td>
        <td ><p>Summary of Business</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Summary of Product</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Marketing Strategy Plan</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Market Analysis</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Marketing Strategy Implementation</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Executive Summary</p></td>
        <td ><p>Idea Description, all other business plan parts</p></td>
        <td ><p>Text</p></td>
      </tr>

      <tr>
        <td><p><i>Design</i></p></td>
        <td ><p>Logo</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Images</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Wireframes</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Images</p></td>
      </tr>

      <tr>
        <td ><p></p></td>
        <td ><p>Mock-ups</p></td>
        <td ><p>Idea Description, all other design parts</p></td>
        <td ><p>Images</p></td>
      </tr>

      <tr>
        <td><p><i>Prototype</i></p></td>
        <td ><p>Flowchart & Schema</p></td>
        <td ><p>Idea Description</p></td>
        <td ><p>Images</p></td>
      </tr>

      <tr>
        <td><p></p></td>
        <td ><p>Prototype</p></td>
        <td ><p>Idea Description, all other prototype parts<b>*</b></p></td>
        <td ><p>Code</p></td>
      </tr>

      <tr> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>        
      </tr>
    </tbody>
  </table>
  <br>
  <i><b>*</b>The prototype user will also have viewing access to all of the design component parts, but they need not be completed before he/her starts building it since matching the prototype to the frontend design can happen at any point in the development process.</i>
  <br><br>
  The <i>other parts required for unlock</i> column in the table above also represents the parts that the user building a given part has viewing access for (e.g. the idea description part must be completed before all other parts, and thus all subsequent part users will have viewing access to the plan component). 
  <br><br>
  Hence for a given part, once the parts required for it to be built are completed, it becomes unlocked. You can then start the part and submit your content at your own pace. 
  <hr>
</div>

<div id='unstartpart'>
  <h4><strong>Unstarting a Part</strong></h4><br>
  If you feel as though you should not have started a part, whether its because you will not have the time to complete it or because you do not feel like you will be able to submit content of the appropriate quality, you can unstart the part from the part’s edit page. If you choose to do so, <b>you will not gain any equity, even if you have written a portion of it already</b>, and you will <b>lose reputation</b> (the exact amount of which is explained below).  
  <hr>
</div>

<div id='finishpart'>
  <h4><strong>Finishing a Part and Assessment of Contribution Quality</strong></h4><br>

  Once you have finished submitting the content and think you have a final version, you return to the idea build overview page to press the blue button finish. The majority of your work is now completed, but you will still have small edits to make for your work to be accepted and for you to gain the equity. 
  <br><br>
  The status and button of the part will then change to in review; now, members of the labthi.ng team will look through your content and assess its quality. If they have small suggestions regarding how it can be brought to a higher standard, they can leave tasks on the edit page for you to complete during this period.
  <br><br>
  <b>Tasks</b>
  <br><br>
  During the review stage, the team will scrutinise your work and leave you small tasks to help improve your contribution standard to a point where others will want to remunerate you for your content in the buy phase. Tasks will have a very specific description of the problem, and what you should do to fix it; for example in the marketing strategy implementation, we could write “you have not quantified the costs and revenues for your banner ad marketing strategy idea – please try and estimate its cost, the number of users it will reach, and the consequent revenue it will bring to the business; try and justify your numbers with facts about the customer segment”. 
  <br><br>
  Next to a given task, there will be a blue button identical to that on the idea build page next to a part that will say start and finish. You should press start before you make changes, finish your edits, and then press finish. When you finish a task, a moderator will revise it and either accept it or reject it. If he rejects it, the task button will revert to start and you will have to try to edit it again. If you have any questions about the task, or you feel as though it is not necessary or has not been explained properly you may also comment on the task itself, and a moderator will promptly reply. 
  <br><br>
  If you do not want to complete the tasks, the labthi.ng team will reject your content submission and you will not gain equity in the idea, and the part’s status will revert to unstarted. Although this may seem harsh, if you submit content of high quality, there will be few to no tasks assigned to you; we have implemented this policy to help you submit the best content possible.
  <br><br>
  Once you have completed all of your tasks and our team has accepted all of them, the status of the part will become accepted, and you will have gained an appropriate amount of equity and reputation points!
  <hr>
</div>

<div id='measuringcontrbuild'>
  <h4><strong>Finishing a Part and Assessment of Contribution Quality</strong></h4><br>

  Besides awarding you with equity, we award reputation points for each of the actions possible in the <b>build phase</b>. These are described in the table below.<br><br>
  <table class='table'>
    <tbody align='center'>
      <tr>
        <td ><b>User Action</b></td>
        <td ><p><b>Reputation Points</b></p></td>
      </tr>

      <tr>
        <td ><p>Start a part</p></td>
        <td ><p>10</p></td>
      </tr>

      <tr>
        <td ><p>Unstart a part</p></td>
        <td ><p>-20</p></td>
      </tr>

      <tr>
        <td ><p>Start a task</p></td>
        <td ><p>1</p></td>
      </tr>

      <tr>
        <td ><p>Task accepted</p></td>
        <td ><p>4</p></td>
      </tr>

      <tr>
        <td ><p>Part Accepted</p></td>
        <td ><p>Part Equity (as decimal) x 1000<b>*</b></p></td>
      </tr>

      <tr> 
        <td></td>
        <td></td>      
      </tr>
    </tbody>
  </table>

  <i><b>*</b>The equity percentage number without the percentage times 10. For example, the amount of reputation points a user gains from the prototype part being accepted is 0.30 x 1000 = 300 points.</i>
  <br><br>
  The decision to revoke reputation points if you unstart a part is not to discourage you taking charge of submitting the content, but merely to encourage you to think thoroughly about whether you can submit work of the appropriate quality standard and whether you have the time to complete your contribution. 
  <hr>
</div>

<div id='transitionbuildbuy'>

  <h4><strong>The Transition from Build to Buy</strong></h4>
  <br>
  Once all of the parts have been submitted and accepted, the idea has appropriately turned into a potential business and minimum viable product. It consists of a fully functioning prototype, a business plan including the next steps towards turning the product at this stage into its stage when it should be launched, and the marketing strategy associated with gaining customer interest through its future stages of development so that the product makes a big impact when it is released. Thus, it is now in the perfect condition for you—an experienced entrepreneur, an investor, or anyone with an eye for tech start-ups brimming with potential—to snap it up, finish its development, and launch it yourself.
  <hr>
</div>
</div>