<% # This template is called from Idea#show %>
<li class="solution">

  <div class="solution-<%= solution.id %>-vote-wrapper">
    <%= render template: "evaluations/show", locals: {voteable: solution} %>
  </div>

  <p>
  	<%= best_in_place_if current_user == solution.user, solution, :brief, activator: '.edit-solution-' + solution.id.to_s %>
  	<%= link_to "Edit", "",
      class: "edit-solution-#{solution.id.to_s}" if current_user == solution.user %>
  </p>
  <p>
    <%= solution.user.name %>
  </p>
  <% if solution.aspect.title == "Image" %>
    <p>
      <%= image_tag solution.image.display %>
    </p>
  <% end %>
    <ul class="comments solution-comments">
      <%= render vote_order(solution.comments) || "No comments found" %>
    </ul>
    <p>
      <%= link_to "Add comment", new_solution_comment_path(solution, solution_id: solution.id) %>
    </p>
</li>