<% # This template is called from Idea#show %>
<li class="solution">
  <p>
  	<%= best_in_place_if current_user == solution.user, solution, :brief, activator: '.edit-solution-' + solution.id.to_s %>
  	<%= link_to "Edit", "",
      class: "edit-solution-#{solution.id.to_s}" if current_user == solution.user %>
  </p>
  <p>
    <%= solution.user.name %>
  </p>
    <ul class="comments solution-comments">
      <%= render solution.comments || "No comments found" %>
	 		<p>
	      <%= link_to "Add comment", new_solution_comment_path(solution, solution_id: solution.id) %>
	  	</p>
    </ul>
</li>