<% # This template is called from Idea#show %>
<li class="media solution solution-<%= solution.id %>">

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: solution} %>

  <div class="media-body">
    <div class="media-body">
      <div class="media-item-body">
        <p>
        	<%= best_in_place_if current_user == solution.user, solution, :brief, activator: '.edit-solution-' + solution.id.to_s %>
        </p>
        <div class='userwrap'>
        <p class="pull-right">      
          <div class='photoquest'>
            <%= link_to (image_tag solution.user.profile.photo_url, :size => "36x36"), profile_path(solution.user.profile)%>
          </div>
          <div class='usernamequest'>
          <%= render solution.user %><br>
          <i>Posted <%= time_ago_in_words(solution.created_at) %> ago</i>
          </div>
          </p>
        </div>
        <% if solution.aspect.title == "Image" %>
          <p>
            <%= image_tag solution.image.display %>
          </p>
        <% end %>
        <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
      </div>
    </div>

  <% if solution.comments.count > 0 %>
    <a href='javascript:void(0);' class='showsolcomments'>Hide Solution Comments</a>
    <br><br>
  <% end %>

    <div class="media-body solutioncomments">
      <ul class="media-list comments solution-comments">
        <% if solution.comments.count > 0 %>
            <%= render vote_order(solution.comments.includes(:user)) %>
        <% end%>
      </ul>
    
      <% if (@idea and @idea.phase != 1) %>
        <p class="link-dis"> Add comment </p>
      <% else %>
        <p>
          <%= link_to "Add comment", new_solution_comment_path(solution), id: "solution-#{solution.id}", remote: true %>
        </p>    
      <% end %>
    </div>
  </div>
</li>
