<% # This template is called from Idea#show %>
<li class="media solution solution-<%= solution.id %>">

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: solution} %>

  <div class="media-body">
    <div class="media-item-body">
      <p>
      	<%= best_in_place_if current_user == solution.user, solution, :brief, activator: '.edit-solution-' + solution.id.to_s %>
      </p>
      <%= link_to "Edit", "",
          class: "edit-solution-#{solution.id.to_s}" if current_user == solution.user and @idea.phase == 1 %>
      <div class="pull-right">
        <%= render solution.user %>
      </div>
      <% if solution.aspect.title == "Image" %>
        <p>
          <%= image_tag solution.image.display %>
        </p>
      <% end %>
    </div>
    <ul class="media-list comments solution-comments">
      <% if solution.comments.count > 0 %>
          <%= render vote_order(solution.comments.includes(:user)) || "No comments found" %>
      <% end%>
    </ul>
    <% if @idea.is_phase_1? %>
        <%= link_to "Add comment", new_solution_comment_path(solution), id: "solution-#{solution.id}", remote: true %>
    <% else %>
      <p class="link-dis"> Add comment </p>
    <% end %>
    </div>
</li>

