<div class="idea-block col-sm-12 col-md-6 col-lg-6">
	<%= link_to idea, class: "idea-block-link list-group-item #{idea.title} clearfix" do %>
		<div class="pull-right">
			<%= image_tag	idea.top_image_thumb %>
		</div>
		<div>
			<strong><%= idea.title %></strong>
			<p>
				<%= truncate(idea.brief, length: 255) %>
			</p>
		</div>
		<div class="hidden idea-categories">
			<% idea.category_list.each do |c| %>
				<%= c %>
			<% end %>
		</div>
	<% end %>
</div>