<div class="idea-block col-sm-12 col-md-6 col-lg-6">
  <%= link_to idea, class: "idea-block-link list-group-item #{idea.title} clearfix" do %>
    <div classs="clearfix">
      <div><strong classs=""><%= idea.title %></strong></div>
      <div class="pull-right">
        <%= image_tag idea.top_image_thumb, class: 'img-rounded' %>
      </div>
      <p>
        <%= truncate(idea.brief, length: 120) %>
      </p>
    </div>
    <div class="clearfix pull-right full-width">
      <%= render 'users/user_without_link', user: idea.user %>
      <div class="pull-right">
        Phase <%= idea.phase %>
      </div>
    </div>
    <div class="hidden idea-categories">
      <% idea.category_list.each do |c| %>
        <%= c %>
      <% end %>
    </div>
  <div>
    use votes: <%= idea.get_use_votes %> -- 
    buy votes: <%= idea.get_buy_votes %>
  </div>
  <% end %>

  <% unless current_user.buy_phase_vote?(idea) %>
    <div>
      <%= button_to "I'd buy it!", buy_vote_path(id: idea.id), class: 'btn btn-primary' %>
      <%= button_to "I'd use it!", use_vote_path(id: idea.id), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>