<div class="idea-block col-sm-4">
	<%= link_to idea, class: "idea-block-link list-group-item #{idea.title}" do %>

		<h4><%= idea.title %></h4>
		<p>
			<%= idea.brief %>
		</p>
		<p>
			<%= "Phase: #{idea.phase}" %>
		</p>
		<p>
			<%= "Categories: #{idea.category_list}" %>
		</p>

	<% end %>
</div>