<div class="idea-block col-sm-12 col-md-6 col-lg-6">
	<%= link_to idea, class: "idea-block-link list-group-item #{idea.title} clearfix" do %>
		<div classs="clearfix">
			<div><strong classs=""><%= idea.title %></strong></div>
			<div class="pull-right">
				<%= image_tag	idea.top_image_thumb, class: 'img-rounded' %>
			</div>
			<p>
				<%= truncate(idea.brief, length: 120) %>
			</p>
		</div>
		<div class="clearfix pull-right full-width">
			<%= render 'users/user_without_link', user: idea.user %>
			<div class="pull-right">
				Phase <%= idea.phase %>
			</div>
		</div>
		<div class="hidden idea-categories">
			<% idea.category_list.each do |c| %>
				<%= c %>
			<% end %>
		</div>
	<% end %>
</div>