<% ### explore#create ### %>

<% content_for :sidebar_left_small do %>
	<div>
		<%= link_to "Submit Idea", '/ideas/new', class: 'btn btn-primary' %>
		<div style='float:right;' id='1-div'>
			<a id="1-pop-link" 
	        href="#" 
	        data-toggle="popover" 
	        data-content="The <b></b> characterises the idea's conception. Here, you can submit and brainstorm ideas collaboratively with the objective of refining their creative bounds—what the product does, how it works, why it should work the way it does, what makes it unique, etc—and their business models. Your contributions are measured with a point system that records the quantity and quality of each content submission. Click on one of the idea's to start brainstorming. Alternatively, submit your idea to start its collaborative development!">
	    	<%= image_tag 'labthinghelp.png', size: '36x36', id: '1-img' %>
	    	<span id='1-close' class='pull-left' style='display:none; position:absolute; top:0; margin-left:-5px; color:#34495E;'>
	    		<b>x</b>
	    	</span>
	    </a>
		</div>
	</div>
	<hr>
	<p><%= link_to 'All Categories', create_path %></p>
	<% @categories.each do |category| %>
	<p>
		<%= link_to category, { controller: 'explore', action: 'create', category: category }, class: 'category-tag' %>
	</p>
	<% end %>
<% end %>

<% content_for :background do %>
	<div class='create-bg' style='height:500px;'>
	<br><br><br><br><br>
		<div class='row'>
			<div class='col-md-4'></div>
			<div class='col-md-3'>
				<h1 style="color:#fff;font-family:'Montserrat-Bold';font-size:4.2em;float:right;">Create</h1>
				<img src='images/create.png' alt='Create an Idea' style='height:100px;' class='pull-right'>
			</div>
			<div class='col-md-5'></div>
		</div><br><br>
		<div class='row'>
			<div class='col-md-2'></div>
			<div class='col-md-8'>
				<h1 style="color:#fff;font-family:'Montserrat';font-size:2.0em;line-height: 50px;" align='center'>
					Submit a new idea or brainstorm an existing one from the list below. Collaborate with the community to refine the idea's features and business model, and earn reputation points in exchange for your contributions!
				</h1>
			</div>
			<div class='col-md-2'></div>
			<br><br>
		</div>
	</div>
<% end %>


<div class="content col-sm-12">
	<% if @ideas then %>
		<% @ideas.each do |idea| %>
			<%= render 'print_idea_for_create', :idea => idea %>
		<% end %>
	<% end %>
</div>
