<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="<%= root_url %>" class="primary-logo" alt="Labthi.ng" id="Labthi.ng">
      <img src="/images/logo-rect-sm.png"style='height:34px;margin-top:5px;'/>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <!-- #nav_link is a custom method defined in application_helper.rb -->
      <% if current_user %>
        <%= nav_link 'Create', '/create' %>
        <%= nav_link 'Build', '/build' %>
        <%= nav_link 'Sell', '/buy' %>
      <% end %>
    </ul>
    <!-- Search bar!
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    -->
    <ul class="nav navbar-nav navbar-right">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
      <% if current_user.nil? %>
      <p style='margin-top:6px;'>
        <a href='javascript:void(0);' id='deviseform' class='btn btn-primary' style='padding-top:2px;'><b>Sign in</b></a>
      </p>
    <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- .container -->
</nav>