<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_url %>">Start.it</a>
    <ul class="nav">
      <% #nav_link is a custom method defined in application_helper.rb %>
      <%= nav_link 'Home', root_url %>
      <%= nav_link 'Ideas', '/ideas' %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
      <%= nav_link 'Rails Admin', '/admin' %>

    </ul>
  </div>
</div>