<!DOCTYPE html>
<html>
	<head>
	  <title>Labthi.ng</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<%= render 'layouts/navbar' %>

	<%= render partial: "shared/flash_messages", flash: flash %>

	<%= render 'layouts/sidebar_left' if content_for :sidebar_left %>

	<%= render 'layouts/secondary_nav' if content_for :secondary_nav %>

	<div class="content col-sm-8">
		<%= yield %>
	</div>

	<%= render 'layouts/sidebar_right' if content_for :sidebar_right %>

	</body>
</html>
