<%= render 'layouts/header' %>

</div>

<div style='margin-top:-55px;'>
  <%= yield :background %>
</div>
<% if current_page?('/create') %>
  <br><br><br>

<div class="container container-main">

  <div class="sidebar sidebar_left col-sm-3">
    <%= yield :sidebar_left_small %>
  </div>


  <%= render 'layouts/secondary_nav' if content_for :secondary_nav %>
  <div class="col content col-sm-9">
    <%= yield %>
  </div>
    </div><!-- .container -->
<% end %>
</div>
<%= render 'layouts/footer' %>