<%= render 'layouts/header' %>

</div>

<div style='margin-top:-55px;'>
  <%= yield :background %>
</div>
<% if current_page?('/create') %>
  <br><br><br>

<div class="container container-main">

  <div class="sidebar sidebar_left col-sm-3">
    <%= yield :sidebar_left_small %>
  </div>


  <%= render 'layouts/secondary_nav' if content_for :secondary_nav %>
  <div class="col content col-sm-9">
    <%= yield %>
  </div>
    </div><!-- .container -->
<% end %>
<div class='footer'>
  <div class='container'>
    <br>
    <div class='col-md-12'>
      <p class='p-footer pull-left'>Questions? Comments? We want your input. <a class='email-footer' href="mailto:labthingco@gmail.com?Subject=Hi%20Labthi.ng!" target="_top" style='color:#fff !important;'><b>Contact us!</a> | About Us | Terms & Conditions </p>
      <p class='p-footer copy pull-right'>© Labthi.ng Ltd.</p>
    </div>
    <br><br>
  </div>
</div>
</body>
</html>