<%= render 'layouts/header' %>

<div class='col-md-12'>
  <%= render 'ideas/phase_2' %>
  <hr>
</div>


<div class='col-md-10' style='margin-left:90px;'><%= yield :page_title %><br></div>
<br>

<%= render 'layouts/secondary_navpart' if content_for :secondary_nav %>

  <div class="col content col-md-12">
    <%= yield %>
  </div>

<%= render 'layouts/links' %>
<%= render 'layouts/footer' %>
