<%= render 'layouts/header' %>

<div class='col-sm-12' style='overflow:hidden;'>
  <div class='col-sm-1'>
    <%= link_to (image_tag current_user.profile.photo.display, :size => "60x60", class: 'img-rounded'), profile_path(current_user) %>
  </div>
  <div class='col-sm-11' style='margin-top:-15px; margin-left:-10px;'>
    <h2>Dashboard</h2>
    Welcome, <%= current_user.name %>
  </div>
</div>

<div class="content col-sm-12">
  <div class='col-sm-12'><hr></div><br>
  <%= render 'layouts/secondary_nav' if content_for :secondary_nav %><br>
	<%= yield %>
</div>

<div class="sidebar sidebar_right col-sm-4">
	<%= yield :sidebar_right %>
</div>

<%= render 'layouts/footer' %>