<%= render 'layouts/register_header' %>

<div class='container-fluid'>
  <div class='bg'>
    <div class='container'>
      <div class='row'>
        <br><br><br>
        <div class='col-md-8' style='width:720px; margin-right:40px;'>
          <%= yield %>
        </div>
        <div class="col-md-4" style='margin-top:10px;'>
          <%= yield :sidebar_signup %><br><br>
        </div>
      </div>
    </div>
  <br><br><br>
  </div>
<div class='container'>
    <div class='row' align='center'>
      <div class='col-md-12'>
        <h2 class='howitworks' align='center'> 
          <br>
          Why You'll Love Labthi.ng
        </h2>
        <br><br><br>
      </div>
      <div class='row'>
      <iframe width="420" height="315" src="http://www.youtube.com/embed/XGSy3_Czz8k" align='center'>
      </iframe>
      </div>
      <br><br><br><hr><br><br><br>
      <div class='col-md-4' style='padding-bottom:30px;'>
        <div class='panel-border'>
          <img src='images/create-icon.jpg' alt='Create an Idea' class='create-icon chart-icon'>
          <hr>
          <h2 class='panel-head'>Create an Idea</h2>
          <p class='panel-font'>
            Submit an idea or brainstorm an existing one - examine the product's features and develop the business model with other innovators.<br>
          </p>
        </div>
      </div>
      <div class='col-md-4' style='padding-bottom:30px;'>
        <div class='panel-border'>
          <img src='images/build-icon.jpg' alt='Build an Idea' class='build-icon chart-icon'>
          <hr>
          <h2 class='panel-head'>Build an Idea</h2>
          <p class='panel-font'>
            Build a team for your idea. Together, write the business plan and design and build the prototype. You turn the idea into a functioning start-up. <br>
          </p>
        </div>
      </div>
      <div class='col-md-4' style='padding-bottom:30px;'>
        <div class='panel-border'>
          <img src='images/buy-icon.jpg' alt='Buy an Idea' class='buy-icon chart-icon'>
          <div style='margin-top:-9px;'>
            <hr>
            <h2 class='panel-head'>Buy an Idea</h2>
            <p class='panel-font'>
              Incorporate your business. Then, pitch your idea to investors on Labthi.ng, sell them equity, and use the funding to launch your start-up as a team!<br>
            </p>
          </div>
        </div>
      </div>
    </div>
</div><br><br><br><br><br>

</div>
<div class='footer' style='margin-bottom:-900px;'>
  <div class='container' style-'height:40px !important;'>
    <div class='col-md-12' style='margin-top:-10px;'>
        <span class='p-footer pull-left'>Questions? Comments? We want your input. <a class='email-footer' href="mailto:labthingco@gmail.com?Subject=Hi%20Labthi.ng!" target="_top" style='color:#fff !important;'><b>Contact us!</b></a> | <b><%= link_to 'Terms & Conditions', terms_path, style: 'color:#fff !important;', class: 'set-font-bold' %></b> | <b><%= link_to 'Privacy Policy', privacy_path, style: 'color:#fff !important;', class: 'set-font-bold'%></b> </span>
        <span class='p-footer copy pull-right'>© Labthi.ng Ltd.</span>
    </div>
  </div>
</div>
</body>
</html>