<%= render 'layouts/header' %>

<%= yield :page_title %>

<div class="sidebar sidebar_left col-sm-4">
	<%= yield :sidebar_left %>
</div>


<%= render 'layouts/secondary_nav' if content_for :secondary_nav %>
<div class="col content col-sm-8">
	<%= yield %>
</div>

<%= render 'layouts/footer' %>