<% (component.parts.sort_by {|p| p.name}).each do |part| %>
  <div class='row content-bg'>   
    <div class='col-md-8'>
      <% if part.name == 'Idea Description' %>
        <div style='float:left; height:40px; margin-right:5px; margin-left:-15px; display:none;' id='3-div'>
          <a id="3-pop-link" 
              href="#" 
              data-toggle="popover" 
              data-content="Each row is a part of a component. If a part's status is <b>unstarted</b> you may start it and submit the required content in exchange for <b>equity</b> in the idea and reputation points proportional to this equity. Each part carries a unique equity value, present on rightmost side of the row in green. Equity gaining is not a competition between team members; it is merely a way of quantifying team members' activity in the idea and making sure that all of you are contributing.<br><br>You do not need to have experience writing business plans or building prototypes; each part's edit page containers help content that tells you exactly what should be included in your contribution, including a structure you can follow. You can also find this information in the documentation section.<br><br>Once you finish the part, your team members will be able to review your content and leave you revision tasks to improve your work to gain more attention from investors!">
            <%= image_tag 'labthinghelp.png', size: '36x36', id: '3-img' %>
            <span id='3-close' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
              <b>x</b>
            </span>
          </a>      
        </div>
      <% elsif part.name == 'Prototype' %>
        <div style='float:left; height:40px; margin-right:5px; margin-left:-15px; display:none;' id='6-div'>
          <a id="6-pop-link" 
              href="#" 
              data-toggle="popover" 
              data-content="The prototype component is the only one which varies according to the type of idea you submit. If the product is a physical good, you will need to build a CAD before the actual prototype itself. If the product is software-based, you will need to design the schema and write a flowchart instead of a CAD. For the prototype itself, in the former scenario you must build it out of wood/cardboard/other lightweight materials and record a video explaining its different features and how to use it. For the latter, the prototype will be purely code; your team will be added to the idea's <b>Bitbucket</b> account and you can begin pushing your code to that repository.<br><br>Although we encourage all members of Labthi.ng to try building every component and part regardless of their prior experience, the prototype component is one where prior experience and knowledge is recommended to ensure a high quality standard of product.">
            <%= image_tag 'labthinghelp.png', size: '36x36', id: '6-img' %>
            <span id='6-close' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
              <b>x</b>
            </span>
          </a>      
        </div>
      <% elsif part.name == 'Market Analysis' %>
        <div style='float:left; height:40px; margin-right:5px; margin-left:-15px; display:none;' id='5-div'>
          <a id="5-pop-link" 
              href="#" 
              data-toggle="popover" 
              data-content="If there is a part that as a team you feel uncomfortable completing, may it be due to a lack of time, knowledge or experience, you can always write another proposal in the <b>overview - team build</b> section, detailing the exact expertise you seek, and hire another team member to complete this part.">
            <%= image_tag 'labthinghelp.png', size: '36x36', id: '5-img' %>
            <span id='5-close' class='pull-left' style='display:none; position:absolute; top:0px; margin-left:-5px; color:#34495E;'>
              <b>x</b>
            </span>
          </a>      
        </div>
      <% end %>
      <div style='float:left;'>
        <% if part.display_link?(current_user)%>
          <%= link_to part.name, part_help_content_path(id: part) %>
        <% end %>

        <br>   
        <%= "Status: " %>
        <h0 class='statustext'>
          <%= "#{part.status}"%>
        </h0>
      </div>
      <br>
    </div>

    <div class='col-md-4'>
      <div class='partstyle pull-right'>
        <div class='left'>
          <% if (part.name == 'Executive Summary' or 'Idea Description') and part.status != 'Accepted' %>
          <div style='float:left; margin-left:20px; height:35px; margin-top:6px;margin-right:4px;display:none;' id='4-div'>
            <a id="4-pop-link" 
                href="#" 
                data-toggle="popover" 
                data-content="The button I'm standing next to indicates whether or not you can take action, and what sort of action you can take. In general, blue buttons mean you can click on them and take action; grey buttons mean you cannot take action. If the button is blue and says <b>start</b>, it means you can start the part. After you do this, you will be the only user that can see click on the part and edit it. When you are finished, you can click the blue <b>finish</b> button. The button will then become grey and will say <b>finished</b>; now, you cannot click on the part to edit it because administrators and your team are reviewing your work and adding tasks for you to complete to improve it. When the button's text changes to <b>In Review</b> but stays grey, you can edit the part and complete the tasks to improve your work. Your team will vote to <b>accept</b> your part once they think the quality is of appropriate standard. <br><br>

                If the button is grey and says <b>locked</b> it means other parts must be completed before this part can be started (e.g. the <b>Executive Summary</b> part can only be started once all of the other business plan parts are completed). If it is grey and says <b>Unstarted</b>, you have already started a part and hence cannot start any others because you can only be in control of 1 part at once. Read more about how this works in the <b>documentation</b> section.">
              <%= image_tag 'labthinghelp.png', size: '36x36', id: '4-img' %>
              <span id='4-close' class='pull-left' style='display:none; position:absolute; top:5px; margin-left:-5px; color:#34495E;'>
                <b>x</b>
              </span>
            </a>      
          </div>
          <% end %>
          <% if part.locked_or_disabled?(current_user) %>
            <div style='float:right;'><%= button_to part.disabled_status, '', 
                :class => 'btn disabled btn-status', id: "#{part.id}"%></div>
          <% elsif part.display_button?(current_user) %>
            <div style='float:right;'><%= button_to part.button_status, update_status_path(id: part), 
                :class => 'btn btn-inverse', id: "#{part.id}"%></div>
          <% else %>
            <p class='pull-left left' align='right'>
               Author:<br>
              <%= link_to (part.user.name), profile_path(part.user.profile) %>             
            </p>
            <p class='pull-right'>
            <%= link_to (image_tag part.user.profile.photo.thumb, :size => "32x32"), profile_path(part.user.profile)%></p>
          <% end %>     
        </div>
      </div>
    </div>
  </div>
<% end %>
