<%= render 'idea_builds/secondary_nav' %>

<div class='row'>
<div class='col-md-8 no-gutter'>
  <div class='content-bg'>
    <h4>The Idea</h4>
    <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
    <p> <%= @brief.html_safe %> </p>
  </div>
  <div class='content-bg'>
    <h4>The Team</h4>
    <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
    <div class="idea-followers">
      <% @users_points.each do |user, points| %>
        <%= render 'users/user_with_points', user: user, points: points %>
      <% end %>
    </div>
  </div>
</div>
<div class='col-md-4 content-bg'>
  <h4>Progress</h4>
  <hr style="color:#fff;background-color:#fff;border-color:#fff;" />
  <p> 
    Plan Component: 
    <div class="progress" style='background-image:none; background-color:white;'>
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @idea_build.plan_component.get_progress %>" 
           aria-valuemin="0" aria-valuemax="100" style="width:<%= @idea_build.plan_component.get_progress %>%;">
        <%= @idea_build.plan_component.get_progress %>%
      </div>
    </div> 
  </p>
  <p>
    Business Plan Component:
    <div class="progress" style='background-image:none; background-color:white;'>
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @idea_build.business_plan_component.get_progress %>" 
           aria-valuemin="0" aria-valuemax="100" style="width:<%= @idea_build.business_plan_component.get_progress %>%;">
        <%= @idea_build.business_plan_component.get_progress %>%
      </div>
    </div> 
  </p>
  <p>
    Design Component:
    <div class="progress" style='background-image:none; background-color:white;'>
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @idea_build.design_component.get_progress %>" 
           aria-valuemin="0" aria-valuemax="100" style="width:<%= @idea_build.design_component.get_progress %>%;">
        <%= @idea_build.design_component.get_progress %>%
      </div>
    </div> 
  </p>
  <p> 
    Prototype Component:
    <div class="progress" style='background-image:none; background-color:white;'>
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @idea_build.prototype_component.get_progress %>" 
           aria-valuemin="0" aria-valuemax="100" style="width:<%= @idea_build.prototype_component.get_progress %>%;">
        <%= @idea_build.prototype_component.get_progress %>%
      </div>
    </div> 
  </p>
</div>
</div>
<hr><br>
<div class='col-md-10 no-gutter'>
  <div class="secondary_nav">
    <div class="secondary-nav">
      <%= link_to "News Feed", {
        controller: "idea_builds",
        action: "news_feed" },
        class: 'btn btn-default text ' + active_when(:controller => 'idea_builds', :action => 'news_feed')
      %>
      <%= link_to "Team Building", {
        controller: "idea_builds",
        action: "team_build" },
        class: 'btn btn-default text ' + active_when(:controller => 'idea_builds', :action => 'team_build')
      %>
    </div>
  </div>
</div>
<br>