<%= render 'idea_builds/secondary_nav' %>
<div class='col-md-8 no-gutter'>
  <%= render 'idea_builds/brief' %>
  <%= render 'idea_builds/secondary_sub_nav' %>
  <br>
  <div class='row no-gutter'>
    <div class='welcome-block clearfix'>
      <h3 class='pull-left' style='display:inline;'>News Feed</h3>
      <button href='javascript:void(0);' class='btn btn-info pull-right' style='margin-right:13px;padding-left:9px;margin-top:13px;' id='newpost'>Create Post</button>
    </div>
    <div class='content-bg' style='display:none;' id='posts'>
      <%= render partial: 'posts/form', locals: { url: create_post_path, placeholder: 'Update the Labthi.ng community on how the process of building your start-up is going!', title: 'New Post' } %><br>
      <%= link_to 'Cancel', 'javascript:void(0);', id: 'cancel' %>
    </div>
    <ul class="posts media-list">
      <% if @posts.count > 0 %>
        <%= render (@posts.sort_by {|p| p.created_at}).reverse %>
      <% else %>
      <div class='content-bg no posts' id='noposts'>
        There are no posts yet. Why don't you add one?
      </div>
      <% end %>
    </ul>
    <br><br><hr>
  </div>
</div>
<div class='col-md-4'>
  <%= render 'idea_builds/sidebar' %>
</div>