<h1>IdeaBuild#overview</h1>

<%= render 'component', component: @idea_build.plan_component %>
<%= render 'component', component: @idea_build.ip_component %>
<%= render 'component', component: @idea_build.business_plan_component %>
<%= render 'component', component: @idea_build.prototype_component %>
<%= render 'component', component: @idea_build.design_component %>

