<h1>IdeaBuild#overview</h1>

<h4>Plan Component</h4>
<%= render 'component', component: @idea_build.plan_component %>

<h4>IP Component</h4>
<%= render 'component', component: @idea_build.ip_component %>

<h4>Business Plan Component</h4>
<%= render 'component', component: @idea_build.business_plan_component %>

<h4>Prototype Component</h4>
<%= render 'component', component: @idea_build.prototype_component %>

<h4>Design Component</h4>
<%= render 'component', component: @idea_build.design_component %>

