<%= render 'idea_builds/secondary_nav' %>
<div class='col-md-8 no-gutter'>
  <%= render 'idea_builds/brief' %><br>
  <%= render 'idea_builds/secondary_sub_nav' %>
  <br>
  <div class='row no-gutter'>
    <div class='welcome-block clearfix'>
      <h4 class='pull-left'>Team Build</h4>
      <div style='position:relative; margin-top:15px;'><%= link_to "Create a Proposal", new_proposal_path, class: "btn btn-info pull-right" %></div>
    </div>
    <ul class="posts media-list">
      <% if @posts.count > 0 %>
        <%= render (@posts.sort_by {|p| p.created_at}).reverse %>
      <% else %>
        <div class='content-bg no posts' id='noposts'>
          No proposals yet. Why don't you add one?
        </div>
      <% end %>
    </ul>
    <br><br><hr>
  </div>
</div>
<div class='col-md-4'>
  <%= render 'idea_builds/sidebar' %>
</div>